<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST2312_D222_Fall2022_Class_08_28_Sep_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CST2312 - Class #08,     
**Dictionaries (from Py4E.com, lesson 10 - former lesson 9)**   
**Tuples (from Py4E.com, lesson 11 - former lesson 10)**    

by Professor Patrick, 28-Sep-2022    


This notebook on Colab at `https://bit.ly/cst2312cl08`

This notebook works with shared links to the following files on Google Drive:    

 o [words.txt](https://bit.ly/py4e-words)     
 o [romeo.txt](https://bit.ly/romeo-short)    
 o [romeo-full.txt](https://bit.ly/romeo-full)



---

# **Dictionaries**
**(from Py4E.com, lesson 10 - former lesson 9)**

A dictionary is like a list, but more general. In a list, the index positions have to be integers; in a dictionary, the indices can be (almost) any type.

You can think of a dictionary as a mapping between a set of indices (which are called keys) and a set of values. Each key maps to a value. The association of a key and a value is called a *key-value pair* or sometimes an item.

As an example, we’ll build a dictionary that maps from English to Spanish words, so the keys and the values are all strings.

The function dict creates a new dictionary with no items. Because dict is the name of a built-in function, you should avoid using it as a variable name.

In [ ]:
eng2sp = dict()
print(eng2sp)

The curly brackets, {}, represent an empty dictionary. To add items to the dictionary, you can use square brackets:

In [ ]:
# create a string and refer to an index position in the string

our_str = 'hello there'

print(our_str[6])

In [ ]:
eng2sp['one'] = 'uno'

This statement above creates an dictionary entry that maps from the key `one` to the value `'uno'`. If we print the dictionary again, we see a *key-value pair* with a colon between the key and value:

In [ ]:
print(eng2sp)

In [ ]:
eng2sp['two'] = 'segundo'

In [ ]:
print(eng2sp)

In [ ]:
eng2fr = {'one': 'un', 'two': 'deux'}

In [ ]:
print(eng2fr)

This output format is also an input format. For example, you can create a new dictionary with three items. But if you were to print `eng2sp` in versions of Python before Python 3.0, you might be surprised to see the output in what appeared to be a random order.  That was because of the way keys were hashed and stored.

In [ ]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)

Since Python 3.0, dictionary entries are printed (returned) in the order in which the *key-value pairs* were entered into the dictionary.   

But that’s not a problem because the elements of a dictionary are never indexed with integer indices. Instead, you use the keys to look up the corresponding values:

In [ ]:
print(eng2sp['two'])

The key 'two' always maps to the value “dos” so the order of the items doesn’t matter.

If the key isn’t in the dictionary, you get an exception:

In [ ]:
print(eng2sp['four'])

The `len` function works on dictionaries; it returns the number of *key-value pairs*:

In [ ]:
len(eng2sp)

The `in` operator works on dictionaries; it tells you whether something appears as a *key* in the dictionary (appearing as a *value* does not satisfy the `in` operator and returns a Bool of False unless a *key* in the dictionary contains the search argument).

In [ ]:
'one' in eng2sp

In [ ]:
'uno' in eng2sp

In [ ]:
'uno' not in eng2sp

To see whether something appears as a value in a dictionary, you can use the method `values`, which returns the values as a type that can be converted to a list, and then use the `in` operator:

In [ ]:
vals = list(eng2sp.values())
print(len(vals))
print(vals)

In [ ]:
'uno' in vals

The `in` operator uses different algorithms for lists and dictionaries. For lists, it uses a linear search algorithm. As the list gets longer, the search time gets longer in direct proportion to the length of the list. For dictionaries, Python uses an algorithm called a hash table that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary. I won’t explain why hash functions are so magical, but you can read more about it at [**Wikipedia.org on Hash tables**](wikipedia.org/wiki/Hash_table).

**Exercise 1: Download a copy of the file www.py4e.com/code3/words.txt**    
    
**You may also access the file here [words.txt](https://bit.ly/py4e-words)**    

**Write a program that reads the words in words.txt and stores them as keys in a dictionary. It doesn’t matter what the values are. Then you can use the in operator as a fast way to check whether a string is in the dictionary.**

## **Dictionary as a set of counters**

Suppose you are given a string and you want to count how many times each letter appears. There are several ways you could do it:

1. You could create 26 variables, one for each letter of the alphabet. Then you could traverse the string and, for each character, increment the corresponding counter, probably using a chained conditional.

2. You could create a list with 26 elements. Then you could convert each character to a number (using the built-in function ord), use the number as an index into the list, and increment the appropriate counter.

3. You could create a dictionary with characters as keys and counters as the corresponding values. The first time you see a character, you would add an item to the dictionary. After that you would increment the value of an existing item.


Each of these options performs the same computation, but each of them implements that computation in a different way.

An implementation is a way of performing a computation; some implementations are better than others. For example, an advantage of the dictionary implementation is that we don’t have to know ahead of time which letters appear in the string and we only have to make room for the letters that do appear.

Here is what the code might look like:

In [ ]:
# example code to count characters in a string  
# USING A FOR LOOP AND EMBEDDED IF/ELSE
# word_str   -- a string with a word as its value
# histo_dict -- a histogram dictionary of counts of letters
# char_str   -- an individual character as a string

# store a word in a string variable
word_str = 'brontosaurus'
# try with a different string assignment later
# word_str = 'tyranosaurus'
# word_str = 'tyranosaurus are not the content of bronto burgers'

# initialize an empty histogram dictionary
histo_dict = dict()

# loop through each character in the word and
# add a count of 1 to each letter found
for char_str in word_str:
    if char_str not in histo_dict:
        histo_dict[char_str] = 1
    else:
        histo_dict[char_str] = histo_dict[char_str] + 1

# print the histogram dictionary of counts of letters
print(histo_dict)

We are effectively computing a histogram, which is a statistical term for a set of counters (or frequencies).

The for loop traverses the string. Each time through the loop, if the character `char_str` is not in the dictionary, we create a new item with key of `char_str` and the initial value `1` (since we have seen this letter once). If `char_str` is already in the dictionary we increment `histo_dict[char_str]`.  The histogram indicates that the letters “a” and “b” appear once; “o” appears twice, and so on.

Dictionaries have a method called `get` that takes a `key` and a default value. If the `key` appears in the dictionary, then `get` returns the corresponding value; otherwise it returns the default value.     

For example:

In [ ]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}

In [ ]:
print(type(counts))
print(counts)

In [ ]:
print(counts['jan'])

In [ ]:
print(counts.get('jan', 0))

What if the `get` methods does not find the `key` given as an argument?

In [ ]:
print(counts['tim'])

In [ ]:
print(counts.get('tim', 0))

We can use `get` to write our histogram loop more concisely. Because the `get` method automatically handles the case where a `key` is not in a dictionary, we can reduce four lines down to one and eliminate the if statement.

In [ ]:
# example code to count characters in a string 
# USING THE .GET METHOD  
# word_str   -- a string with a word as its value
# histo_dict -- a histogram dictionary of counts of letters
# char_str   -- an individual character as a string

# store a word in a string variable
word_str = 'brontosaurus'

# initialize an empty histogram dictionary
histo_dict = dict()
# or, initialize a dictionary with some k-v pairs
# histo_dict = {'x' : 1, 'y' : 1,'z' : 1, 'b' : 90, 'u' : 80}

# use a for loop
for char_str in word_str:
    histo_dict[char_str] = histo_dict.get(char_str, 0) + 1
# try using a different value for the second argument to .get() 
#    histo_dict[char_str] = histo_dict.get(char_str, 100) + 1
# the following attempt would return a key error on 'b'
#    histo_dict[char_str] = histo_dict[char_str] + 1

# print the histogram dictionary of counts of letters
print(histo_dict)

The use of the `get` method to simplify this counting loop ends up being a very commonly used *idiom* in Python and we will use it many times in the rest of the class. So you should take a moment and compare the loop using the `if` statement and `in` operator with the loop using the `get` method. They do exactly the same thing, but one is more succinct.

## **Dictionaries and files**

One of the common uses of a dictionary is to count the occurrence of words in a file with some written text.     

Let’s start with a very simple file of words taken from the text of **Romeo and Juliet**.

For the first set of examples, we will use a shortened and simplified version of the text with no punctuation. Later we will work with the text of the scene with punctuation included.

~~~
But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief
~~~

We will write a Python program to read through the lines of the file, break each line into a list of words, and then loop through each of the words in the line and count each word using a dictionary.

You will see that we have two `for` loops. The outer loop is reading the lines of the file and the inner loop is iterating through each of the words on that particular line. This is an example of a pattern called nested loops because one of the loops is the outer loop and the other loop is the inner loop.

Because the inner loop executes all of its iterations each time the outer loop makes a single iteration, we think of the inner loop as iterating “more quickly” and the outer loop as iterating more slowly.

The combination of the two nested loops ensures that we will count every word on every line of the input file.

**Upload the Py4E exercise file "words.txt" to your Colab content area then enter the file name "words.txt" when prompted by the following code.  You may download the file here [words.txt](https://bit.ly/py4e-words), then upload it to your current working directory.**   


**Or, download [romeo.txt](https://bit.ly/romeo-short), upload it to your current working directory, and enter the file name "romeo.txt" when prompted by the following code.**

In [ ]:
fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count1.py

Enter the file name: romeo.txt
{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [2]:
fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    words = line.lower().split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1
#        if word not in counts:
#            counts[word] = 1
#        else:
#            counts[word] += 1

print(counts)

Enter the file name: romeo-full.txt
{'romeo': 31, 'and': 42, 'juliet': 30, 'act': 1, '2,': 1, 'scene': 2, '2': 1, 'ii.': 1, "capulet's": 1, 'orchard.': 1, 'enter': 1, 'he': 5, 'jests': 1, 'at': 9, 'scars': 1, 'that': 29, 'never': 2, 'felt': 1, 'a': 24, 'wound.': 1, 'appears': 1, 'above': 6, 'window': 2, 'but,': 1, 'soft!': 1, 'what': 11, 'light': 3, 'through': 2, 'yonder': 2, 'breaks?': 1, 'it': 16, 'is': 21, 'the': 34, 'east,': 1, 'sun.': 1, 'arise,': 1, 'fair': 4, 'sun,': 1, 'kill': 2, 'envious': 1, 'moon,': 3, 'who': 5, 'already': 1, 'sick': 2, 'pale': 1, 'with': 8, 'grief,': 1, 'thou': 32, 'her': 14, 'maid': 1, 'art': 6, 'far': 2, 'more': 8, 'than': 6, 'she:': 1, 'be': 14, 'not': 17, 'maid,': 1, 'since': 1, 'she': 8, 'envious;': 1, 'vestal': 1, 'livery': 1, 'but': 17, 'green': 1, 'none': 1, 'fools': 1, 'do': 7, 'wear': 1, 'it;': 1, 'cast': 1, 'off.': 1, 'my': 29, 'lady,': 2, 'o,': 8, 'love!': 1, 'knew': 1, 'were!': 1, 'speaks': 1, 'yet': 8, 'says': 1, 'nothing:': 1, 'of': 20, 'that?': 1, 'eye': 2, 'discourses;': 1, 'i': 60, 'will': 8, 'answer': 1, 'it.': 2, 'am': 6, 'too': 8, 'bold,': 1, "'tis": 4, 'to': 34, 'me': 11, 'speaks:': 2, 'two': 1, 'fairest': 1, 'stars': 1, 'in': 13, 'all': 5, 'heaven,': 1, 'having': 1, 'some': 3, 'business,': 1, 'entreat': 1, 'eyes': 4, 'twinkle': 1, 'their': 6, 'spheres': 1, 'till': 4, 'they': 5, 'return.': 1, 'if': 12, 'were': 8, 'there,': 2, 'head?': 1, 'brightness': 1, 'cheek': 3, 'would': 15, 'shame': 1, 'those': 2, 'stars,': 1, 'as': 12, 'daylight': 1, 'doth': 2, 'lamp;': 1, 'heaven': 2, 'airy': 2, 'region': 1, 'stream': 1, 'so': 10, 'bright': 2, 'birds': 1, 'sing': 1, 'think': 2, 'night.': 1, 'see,': 1, 'how': 5, 'leans': 1, 'upon': 5, 'hand!': 1, 'glove': 1, 'hand,': 3, 'might': 1, 'touch': 1, 'cheek!': 1, 'ay': 1, 'me!': 1, 'speak': 4, 'again,': 2, 'angel!': 1, 'for': 12, 'glorious': 1, 'this': 7, 'night,': 5, 'being': 2, "o'er": 1, 'head': 1, 'winged': 1, 'messenger': 1, 'unto': 1, 'white-upturned': 1, 'wondering': 1, 'mortals': 1, 'fall': 1, 'back': 3, 'gaze': 1, 'on': 4, 'him': 2, 'when': 2, 'bestrides': 1, 'lazy-pacing': 1, 'clouds': 1, 'sails': 1, 'bosom': 1, 'air.': 1, 'o': 3, 'romeo,': 5, 'romeo!': 2, 'wherefore': 1, 'romeo?': 1, 'deny': 2, 'thy': 20, 'father': 1, 'refuse': 1, 'name;': 1, 'or,': 2, 'wilt': 5, 'not,': 1, 'sworn': 1, 'love,': 9, "i'll": 8, 'no': 6, 'longer': 1, 'capulet.': 1, '[aside]': 1, 'shall': 6, 'hear': 2, 'more,': 1, 'or': 2, 'this?': 1, 'name': 4, 'enemy;': 1, 'thyself,': 1, 'though': 1, 'montague.': 1, "what's": 2, 'montague?': 2, 'nor': 5, 'foot,': 1, 'arm,': 1, 'face,': 2, 'any': 4, 'other': 4, 'part': 2, 'belonging': 1, 'man.': 1, 'name!': 1, 'name?': 1, 'which': 7, 'we': 2, 'call': 3, 'rose': 1, 'by': 12, 'smell': 1, 'sweet;': 1, 'would,': 1, "call'd,": 1, 'retain': 1, 'dear': 6, 'perfection': 1, 'owes': 1, 'without': 1, 'title.': 1, 'doff': 1, 'name,': 2, 'thee': 15, 'take': 3, 'myself.': 1, 'word:': 2, 'new': 1, 'baptized;': 1, 'henceforth': 1, 'romeo.': 1, 'man': 1, 'thus': 1, "bescreen'd": 1, 'night': 5, 'stumblest': 1, 'counsel?': 1, 'know': 3, 'tell': 2, 'am:': 1, 'saint,': 2, 'hateful': 1, 'myself,': 1, 'because': 1, 'an': 2, 'enemy': 1, 'thee;': 1, 'had': 1, 'written,': 1, 'tear': 2, 'word.': 1, 'ears': 1, 'have': 11, 'drunk': 1, 'hundred': 1, 'words': 1, "tongue's": 1, 'utterance,': 1, 'sound:': 1, 'neither,': 1, 'either': 1, 'dislike.': 1, 'camest': 1, 'hither,': 1, 'me,': 4, 'wherefore?': 1, 'orchard': 1, 'walls': 1, 'are': 3, 'high': 1, 'hard': 1, 'climb,': 1, 'place': 1, 'death,': 1, 'considering': 1, 'art,': 1, 'kinsmen': 2, 'find': 2, 'here.': 2, "love's": 3, 'wings': 1, 'did': 3, "o'er-perch": 1, 'these': 2, 'walls;': 1, 'stony': 1, 'limits': 1, 'cannot': 1, 'hold': 1, 'love': 11, 'out,': 1, 'can': 2, 'dares': 1, 'attempt;': 1, 'therefore': 3, 'let': 3, 'me.': 1, 'see': 1, 'thee,': 4, 'murder': 1, 'thee.': 2, 'alack,': 1, 'there': 1, 'lies': 1, 'peril': 1, 'thine': 2, 'twenty': 2, 'swords:': 1, 'look': 1, 'sweet,': 3, 'proof': 1, 'against': 1, 'enmity.': 1, 'world': 1, 'saw': 1, "night's": 1, 'cloak': 1, 'hide': 1, 'from': 4, 'sight;': 1, 'them': 1, 'here:': 1, 'life': 1, 'better': 1, 'ended': 1, 'hate,': 1, 'death': 1, 'prorogued,': 1, 'wanting': 1, 'love.': 1, 'whose': 1, 'direction': 1, "found'st": 1, 'out': 1, 'place?': 1, 'first': 1, 'prompt': 1, 'inquire;': 1, 'lent': 2, 'counsel': 1, 'eyes.': 1, 'pilot;': 1, 'yet,': 1, 'wert': 1, 'vast': 1, 'shore': 1, "wash'd": 1, 'farthest': 1, 'sea,': 2, 'adventure': 1, 'such': 2, 'merchandise.': 1, "know'st": 1, 'mask': 1, 'else': 2, 'maiden': 1, 'blush': 1, 'bepaint': 1, 'hast': 1, 'heard': 1, 'to-night': 1, 'fain': 2, 'dwell': 2, 'form,': 1, 'fain,': 1, 'spoke:': 1, 'farewell': 1, 'compliment!': 1, 'dost': 2, 'me?': 1, 'say': 4, "'ay,'": 1, "swear'st,": 1, 'mayst': 2, 'prove': 4, 'false;': 1, "lovers'": 2, 'perjuries': 1, 'then': 1, 'say,': 1, 'jove': 1, 'laughs.': 1, 'gentle': 1, 'pronounce': 1, 'faithfully:': 1, "think'st": 1, 'quickly': 1, 'won,': 1, 'frown': 1, 'perverse': 1, 'nay,': 1, 'woo;': 1, 'else,': 1, 'world.': 2, 'truth,': 1, 'montague,': 2, 'fond,': 1, "'havior": 1, 'light:': 1, 'trust': 1, 'gentleman,': 1, 'true': 2, 'cunning': 1, 'strange.': 1, 'should': 2, 'been': 1, 'strange,': 1, 'must': 1, 'confess,': 1, "overheard'st,": 1, 'ere': 2, 'was': 1, 'ware,': 1, 'passion:': 1, 'pardon': 1, 'impute': 1, 'yielding': 1, 'dark': 1, 'hath': 1, 'discovered.': 1, 'blessed': 2, 'moon': 1, 'swear': 5, 'tips': 1, 'silver': 1, 'fruit-tree': 1, 'tops--': 1, 'inconstant': 1, 'monthly': 1, 'changes': 1, 'circled': 1, 'orb,': 1, 'lest': 1, 'likewise': 1, 'variable.': 1, 'by?': 1, 'all;': 1, 'wilt,': 1, 'gracious': 1, 'self,': 1, 'god': 1, 'idolatry,': 1, 'believe': 1, "heart's": 1, 'love--': 1, 'well,': 2, 'swear:': 1, 'although': 1, 'joy': 2, 'contract': 1, 'to-night:': 1, 'rash,': 1, 'unadvised,': 1, 'sudden;': 1, 'like': 3, 'lightning,': 1, 'cease': 2, 'one': 2, "'it": 1, "lightens.'": 1, 'good': 9, 'night!': 5, 'bud': 1, "summer's": 1, 'ripening': 1, 'breath,': 1, 'may': 2, 'beauteous': 1, 'flower': 1, 'next': 1, 'meet.': 1, 'sweet': 4, 'repose': 1, 'rest': 1, 'come': 3, 'heart': 1, 'within': 2, 'breast!': 2, 'leave': 2, 'unsatisfied?': 1, 'satisfaction': 1, 'canst': 1, 'to-night?': 1, 'exchange': 1, 'faithful': 1, 'vow': 1, 'mine.': 1, 'gave': 1, 'mine': 1, 'before': 1, 'didst': 1, 'request': 1, 'it:': 1, 'give': 3, 'again.': 3, 'wouldst': 1, 'withdraw': 1, 'it?': 1, 'purpose,': 1, 'love?': 1, 'frank,': 1, 'wish': 1, 'thing': 1, 'have:': 1, 'bounty': 1, 'boundless': 1, 'deep;': 1, 'have,': 1, 'both': 1, 'infinite.': 1, 'nurse': 3, 'calls': 2, 'noise': 1, 'within;': 1, 'adieu!': 1, 'anon,': 1, 'nurse!': 1, 'true.': 1, 'stay': 1, 'little,': 1, 'exit,': 2, 'blessed,': 1, 'afeard.': 1, 'dream,': 1, 'flattering-sweet': 1, 'substantial.': 1, 're-enter': 2, 'juliet,': 2, 'three': 1, 'words,': 1, 'indeed.': 1, 'bent': 1, 'honourable,': 1, 'purpose': 1, 'marriage,': 1, 'send': 2, 'word': 1, 'to-morrow,': 1, 'procure': 1, 'where': 2, 'time': 1, 'perform': 1, 'rite;': 1, 'fortunes': 1, 'foot': 1, 'lay': 1, 'follow': 1, 'lord': 1, 'throughout': 1, '[within]': 2, 'madam!': 2, 'come,': 1, 'anon.--but': 1, "mean'st": 1, 'beseech': 1, 'thee--': 1, 'by,': 1, 'come:--': 1, 'suit,': 1, 'grief:': 1, 'to-morrow': 2, 'send.': 1, 'thrive': 1, 'soul--': 1, 'thousand': 2, 'times': 2, 'worse,': 1, 'want': 1, 'light.': 1, 'goes': 1, 'toward': 2, 'schoolboys': 1, 'books,': 1, 'school': 1, 'heavy': 1, 'looks.': 1, 'retiring': 1, 'hist!': 2, "falconer's": 1, 'voice,': 1, 'lure': 1, 'tassel-gentle': 1, 'again!': 1, 'bondage': 1, 'hoarse,': 1, 'aloud;': 1, 'cave': 1, 'echo': 1, 'lies,': 1, 'make': 1, 'tongue': 1, 'hoarse': 1, 'mine,': 1, 'repetition': 1, "romeo's": 1, 'name.': 1, 'soul': 1, 'name:': 1, 'silver-sweet': 1, 'sound': 1, 'tongues': 1, 'softest': 1, 'music': 1, 'attending': 1, 'ears!': 1, 'dear?': 1, "o'clock": 1, 'thee?': 1, 'hour': 1, 'nine.': 1, 'fail:': 1, 'years': 1, 'then.': 1, 'forgot': 1, 'why': 1, 'back.': 1, 'stand': 2, 'here': 1, 'remember': 1, 'forget,': 2, 'still': 3, 'remembering': 1, 'company.': 1, 'stay,': 1, 'forgetting': 1, 'home': 1, 'this.': 1, 'almost': 1, 'morning;': 1, 'gone:': 1, 'further': 1, "wanton's": 1, 'bird;': 1, 'lets': 1, 'hop': 1, 'little': 1, 'poor': 1, 'prisoner': 1, 'his': 3, 'twisted': 1, 'gyves,': 1, 'silk': 1, 'thread': 1, 'plucks': 1, 'loving-jealous': 1, 'liberty.': 1, 'bird.': 1, 'i:': 1, 'much': 1, 'cherishing.': 1, 'parting': 1, 'sorrow,': 1, 'morrow.': 1, 'exit': 2, 'sleep': 2, 'eyes,': 1, 'peace': 1, 'peace,': 1, 'rest!': 1, 'hence': 1, 'ghostly': 1, "father's": 1, 'cell,': 1, 'help': 1, 'crave,': 1, 'hap': 1, 'tell.': 1}

In our else statement, we use the more compact alternative for incrementing a variable.     

`counts[word] += 1` *is equivalent to*         
`counts[word] = counts[word] + 1`.      

Either method can be used to change the value of a variable by any desired amount. Similar alternatives exist for `-=`, `*=`, and `/=`.

When we run the program, we see a raw dump of all of the counts in unsorted hash order. (the **romeo.txt** file is available at **www.py4e.com/code3/romeo.txt** or using the link **[romeo.txt](https://bit.ly/romeo-short)**)

**Upload the Py4E exercise file "romeo-full.txt" to your Colab content area then enter the file name "romeo-full.txt" when prompted by rerunning the code above.**     

**You can find the file here: [romeo-full.txt](https://bit.ly/romeo-full)**

It is a bit inconvenient to look through the dictionary to find the most common words and their counts, so we need to add some more Python code to get us the output that will be more helpful.

## **Looping and dictionaries**

If you use a dictionary as the sequence in a for statement, it traverses the keys of the dictionary. This loop prints each key and the corresponding value:

In [3]:
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts_dict:
    print(key, counts_dict[key])

chuck 1
annie 42
jan 100

Again, the keys are in the order in which `key-value pairs` were entered into the dictionary.

We can use this pattern to implement the various loop idioms that we have described earlier. For example if we wanted to find all the entries in a dictionary with a value above ten, we could write the following code:

In [7]:
for key in counts: 
    if counts[key] > 10:
        print(key, counts[key])

romeo 31
and 42
juliet 30
that 29
a 24
what 11
it 16
is 21
the 34
thou 32
her 14
be 14
not 17
but 17
my 29
of 20
i 60
to 34
me 11
in 13
if 12
would 15
as 12
for 12
thy 20
by 12
thee 15
have 11
love 11

In [ ]:
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts_dict:
    if counts_dict[key] > 10 :
        print(key, counts_dict[key])

In [ ]:
# The same logic applied to the counts dict from word counting 
for key in counts:
    if counts[key] > 20 :
        print(key, counts[key])

The for loop iterates through the keys of the dictionary, so we must use the index operator to retrieve the corresponding value for each key. We see only the entries with a value above 10.

If you want to print the keys in alphabetical order, you first make a list of the keys in the dictionary using the keys method available in dictionary objects, and then sort that list and loop through the sorted list, looking up each key and printing out key-value pairs in sorted order as follows:

In [ ]:
counts_dict = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
key_lst = list(counts_dict.keys())
print(key_lst)
key_lst.sort()
for key in key_lst:
    print(key, counts_dict[key])

In [ ]:
# using the word count dictionary from earlier
key_lst = list(counts.keys())
# print(key_lst)
key_lst.sort()
for key in key_lst:
    if counts[key] > 2 :
        print(key, counts[key])

First you see the list of `keys` in unsorted order that we get from the `.keys()` method. Then we see the `key-value pairs` in order from the for loop.



---

# **Tuples**     
**(from All you need to know about Tuples in Python. 13-Sep-2021.  By Andreas Soularidis on Medium.com)**

##Introduction     

First of all, let’s talk about Python Tuples in general. Tuples are used to store data of multiple types like str, int, float, boolean, etc in a single variable. Lists and tuples have a lot in common and lots of differences as well. First of all, in both data types, the elements are ordered, so the items have a defined order, that will not change. Also, both are dynamic in size data types. So we don’t need to define the size of the tuple in advance, as Python takes care of that. Moreover, in both data types duplicate values are allowed. On the other hand, the big difference between lists and tuples is that a tuple is immutable data type, so we cannot add, update or delete the elements of a tuple after its declaration

## When to use tuples    

The question is when to use a list and when to use a tuple in my code. A general guide is to use tuples only if you are absolutely sure that the data will not change during the execution of the program. For example, if you want to store the days of the week you can store them in a tuple.

## Create a tuple    

To create a tuple we use round brackets (parentheses), or we can use the constructor tuple() like below:

In [ ]:
first_tuple = ('dog', 4.5, True, 7, 'apple')
print(first_tuple)
print(type(first_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

In [ ]:
second_tuple = tuple(['dog', 4.5, True, 7, 'apple'])
print(second_tuple)
print(type(second_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

Let's try a new function `id()` to see what it tells us about `first_tuple` and `second_tuple`:

In [ ]:
print('The ID of the first_tuple is: ', id(first_tuple))
print('The ID of the second_tuple is: ', id(second_tuple))

The ID of the first_tuple is:  139691746585968
The ID of the second_tuple is:  139691746756752


Notice that, in the second example the constructor `tuple()` takes as a parameter a list and turns it into a tuple. This syntax would be extremely useful later.    

To create a single element tuple we use a comma after the element, so that Python recognizes that as a tuple and not as a simple expression with parenthesis. Look at the example below:

In [ ]:
solo_tuple = (1,)
print(solo_tuple)
print(type(solo_tuple))

(1,)
<class 'tuple'>

In [ ]:
not_tuple = (1)
print(not_tuple)
print(type(not_tuple))

1
<class 'int'>

In [ ]:
uno_tuple = tuple([1])
print(uno_tuple)
print(type(uno_tuple))

(1,)
<class 'tuple'>

In [ ]:
# remember that the argument to tuple() needs to be an interable
uno_tuple = tuple(1)
print(uno_tuple)
print(type(uno_tuple))

## Access in tuple items    

Tuples, like lists, are zero-index data types, so the first element of a tuple has `index[0]`, the second has `index[1]`, and so on. Also, we have the reversed index that starts from `-1` and represents the last element of a tuple. So, using the reversed index the last element has `index[-1]` the second to last element has `index[-2]`, etc. So, using the index we can have access to specific tuple values as following:

In [ ]:
print(first_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
print(first_tuple[1])

4.5

In [ ]:
print(first_tuple[0])

dog

In [ ]:
print(first_tuple[-5])

dog

In [ ]:
print(first_tuple[2+2])

apple

In [ ]:
this_one_int = +10 +17 -30
print(first_tuple[this_one_int])

True

In [ ]:
wrong_one_int = +20 +17 -30
print(first_tuple[wrong_one_int])

## Slicing    

Like lists, we can have access to a specific range of a tuple using the following syntax

```
tuple[start_index : end_index : pace]
```
also described as: 
```
tuple[start_index : end_index : step]
```

This expression returns a new tuple from start_index to end_index-1 according to pace. By default, the pace has a value of 1. If we omit the start_index the default value is 0. Similarly, if we omit the end_index the default value is the last index of the tuple. Last, if we omit both indexes we get a copy of the tuple.     

Let’s see some examples below:

In [ ]:
print(first_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
print(first_tuple[1:3])

(4.5, True)

In [ ]:
print(first_tuple[:4])

('dog', 4.5, True, 7)

In [ ]:
print(first_tuple[:2])

('dog', 4.5)

In [ ]:
print(first_tuple[::2])

('dog', True, 'apple')

In [ ]:
print(first_tuple[:])

('dog', 4.5, True, 7, 'apple')

## Modifying tuple content

### Add elements to tuples    

As we mentioned earlier, tuples are immutable data types, so we can not add, update or delete elements after the tuple has been created. In lists, we have the method `append()` to add new elements in an existing list, but in tuples, we don’t have this method. So how can we add elements to an existing tuple?     

To do this, we make a three-step trick.     

1. First, we convert our tuple to a list. We can do this using the constructor `list()`. At this point, we have a list with the same elements as our tuple, so now we can use the `append()` method.     

2. The second step is to use the `append()` method to add the element to our list. At this point, we have all the elements we want on a list.     

3. The third and last step is to convert our list into a tuple, using the constructor `tuple()`. Now, we have all elements we want in a tuple.    

*We can use the `id()` function to determine whether the tuple we begin with and the final tuple are unique objects.*   

Let’s see an example below:

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(id(first_tuple))

('dog', 4.5, True, 7, 'apple')
139691746585968

In [ ]:
# step 1 - create a list from the tuple
first_list = list(first_tuple)
print(first_list)

['dog', 4.5, True, 7, 'apple']

In [ ]:
# step 2 - append to the new list
first_list.append('banana')
print(first_list)

['dog', 4.5, True, 7, 'apple', 'banana']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
first_tuple = tuple(first_list)

In [ ]:
# check the tuple contents and object id
print(first_tuple)
print(type(first_tuple))
print(id(first_tuple))

('dog', 4.5, True, 7, 'apple', 'banana')
<class 'tuple'>
139691752315824

Be careful, that our initial tuple is not the same as the final tuple despite the fact that both have the same name `my_tuple`. We can easily check this by noticing the difference in `id` values.

### Change tuple elements    

If we try to update the value of an element in tuples we will get an error, because tuples are immutable data types, like below:

In [ ]:
print(second_tuple)

('dog', 4.5, True, 7, 'apple')

In [ ]:
second_tuple[0] = 'cat'

*Before we go further, let's create a `third_tuple` with the same element values.*      

*We will use this later:*

In [ ]:
third_tuple = second_tuple[:]

In [ ]:
print(third_tuple)
print(type(third_tuple))

('dog', 4.5, True, 7, 'apple')
<class 'tuple'>

*Why don't we just use the following statement to create the third tuple?*     

```
third_tuple = second_tuple 
```

To update the value of an element in a tuple we will use the same trick as above.     

1. First, convert our tuple into a list.     

2. Then, we update the elements we want using the index.     

3. Then, we convert our list into a tuple. Now our tuple has the updated values.     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(id(second_tuple))

('dog', 4.5, True, 7, 'apple')
139691746756752

In [ ]:
# step 1 - create a list from the tuple
second_list = list(second_tuple)
print(second_list)
print(type(second_list))

['dog', 4.5, True, 7, 'apple']
<class 'list'>

In [ ]:
# step 2 - replace a list member using index
second_list[0] = 'cat'
print(second_list)

['cat', 4.5, True, 7, 'apple']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
second_tuple = tuple(second_list)

In [ ]:
# check the tuple contents and object id
print(second_tuple)
print(type(second_tuple))
print(id(second_tuple))

('cat', 4.5, True, 7, 'apple')
<class 'tuple'>
139691746585968

### Delete tuple elements    

As you can guess, we cannot remove elements in a tuple. So we use the same trick as above and take advantage of the `.remove()` method of the list data type to remove element(s).     

Let’s see the code below:

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(id(third_tuple))

('dog', 4.5, True, 7, 'apple')
139691746756752

In [ ]:
# step 1 - create a list from the tuple
third_list = list(third_tuple)
print(type(third_list))
print(third_list)

<class 'list'>
['dog', 4.5, True, 7, 'apple']

In [ ]:
# step 2 - remove from the new list
third_list.remove(True)
print(third_list)

['dog', 4.5, 7, 'apple']

In [ ]:
# step 3 - replace the tuple with a tuple of the new list
third_tuple = tuple(third_list)

In [ ]:
# check the tuple contents and object id
print(third_tuple)
print(type(third_tuple))
print(id(third_tuple))

('dog', 4.5, 7, 'apple')
<class 'tuple'>
139691673546576

## Loops in tuples    

One of the most common actions in iterables like lists and tuples is the iteration. We have a couple of ways to look at the elements of a tuple. The most common is using a `for` loop.     

The syntax of the loop is the following:
```
for element in my_tuple:
   do something with the element
```

In [ ]:
for element in first_tuple:
    print(element)

dog
4.5
True
7
apple
banana

In [ ]:
for value in second_tuple:
    print(value)

cat
4.5
True
7
apple

In [ ]:
for any_name_you_like in third_tuple:
    print(any_name_you_like)

dog
4.5
7
apple

As in lists, we can use the index number to iterate the elements of a tuple. To do this, we use the for loop with `len()` and `range()` functions.
```
for index in range(len(my_tuple)):
   do something with my_tuple[index]
```

In [ ]:
for index in range(len(first_tuple)):
    print('Index position: ', index, ' has value: ', first_tuple[index])

Index position:  0  has value:  dog
Index position:  1  has value:  4.5
Index position:  2  has value:  True
Index position:  3  has value:  7
Index position:  4  has value:  apple
Index position:  5  has value:  banana

##Tuple into a tuple    

As mentioned earlier, in tuple we can store data of different types.   We can store a tuple into a tuple.      

We can have access to inner tuple elements using the index of the inner tuple and the index of the specific element.      

Let’s see the code below:

In [ ]:
fourth_tuple = ('dog', 4.5, True, 7, 'apple', (10, 20, 30))
print(fourth_tuple)
print(type(fourth_tuple))

('dog', 4.5, True, 7, 'apple', (10, 20, 30))
<class 'tuple'>

In [ ]:
print(type(fourth_tuple[5]))

<class 'tuple'>

In [ ]:
print(fourth_tuple[5])
print(fourth_tuple[-1])

(10, 20, 30)
(10, 20, 30)

In [ ]:
print(fourth_tuple[-1][0])

10

*We should consider the position of nested iterables when using more than one index.*

In [ ]:
print(fourth_tuple[1][0])

## Unpacking Tuples    
Whenever we create a tuple we “pack” elements into it. Python allows us to extract elements of a tuple and stores these elements into variables.     

Let’s see an example below:

In [ ]:
fifth_tuple = (12, 34, 2, 6, 24)   
print(fifth_tuple)
print(type(fifth_tuple))

(12, 34, 2, 6, 24)
<class 'tuple'>

In [ ]:
first, second, third, fourth, fifth = fifth_tuple   

print('Value of `first` is ', (first))
print('Value of `second` is ', (second))
print('Value of `third` is ', (third))
print('Value of `fourth` is ', (fourth))
print('Value of `fifth` is ', (fifth))
print()
print('Type of `first` is ', type(first))
print('Type of `second` is ', type(second))
print('Type of `third` is ', type(third))
print('Type of `fourth` is ', type(fourth))
print('Type of `fifth` is ', type(fifth))

Value of `first` is  12
Value of `second` is  34
Value of `third` is  2
Value of `fourth` is  6
Value of `fifth` is  24

Type of `first` is  <class 'int'>
Type of `second` is  <class 'int'>
Type of `third` is  <class 'int'>
Type of `fourth` is  <class 'int'>
Type of `fifth` is  <class 'int'>

In the example above, we have a tuple of numbers and we extract those numbers in variables. Be careful that the number of elements in the tuple must be exactly the same as the number of variables, otherwise, we will get an error. In case we are interested in only some of the elements of the tuple, we can use the asterisk * syntax as above

In [ ]:
primary, secondary, *something = fifth_tuple  

print(primary, secondary, rest)

print('Type of `primary` is', type(primary))
print('Type of `secondary` is', type(secondary))
print('Type of `something` is', type(something))

12 34 [2, 6, 24]
Type of `primary` is <class 'int'>
Type of `secondary` is <class 'int'>
Type of `something` is <class 'list'>

*Bear in mind that a variable which uses an asterisk to take values from a tuple will itself be a list.*    

As we can notice, in the case above, Python returns a list that includes the rest of the elements of the tuple.     

The following is another interesting, valid syntax:

In [ ]:
alpha, *medio, omega = fifth_tuple

print(alpha, medio, omega)

print('Type of `alpha` is', type(alpha))
print('Type of `medio` is', type(medio))
print('Type of `omega` is', type(omega))

12 [34, 2, 6] 24
Type of `alpha` is <class 'int'>
Type of `medio` is <class 'list'>
Type of `omega` is <class 'int'>

##Tuple Methods

Let's create one more example tuple to demonstrate the two tuple methods:    
1. `.count()`    
2. `.index()`

In [ ]:
sixth_tuple = (12, 34,2, 6, 24, 34)

## `tuple.count()`     

Returns the number of times the given value appears in a tuple.

In [ ]:
print(sixth_tuple.count(34))

2

## `tuple.index()`     

Returns the index of the first appearance of the given element. Be careful that if the given number doesn’t exist, it raises a *ValueError* exception.

In [ ]:
print(sixth_tuple.index(34))

1

In [ ]:
print(sixth_tuple.index(7))



---

# **Tuples**
**(from Py4E.com, lesson 11 - former lesson 10)**

## 11(10).1 Tuples are immutable

In [8]:
# Syntactically, a tuple is a comma-separated list of values:
t = 'a', 'b', 'c', 'd', 'e'

In [9]:
print(type(t))

<class 'tuple'>

In [ ]:
# enclose tuples in parentheses to identify easily
t = ('a', 'b', 'c', 'd', 'e')

In [10]:
# create a tuple with a single element
t1 = ('a',)  # End a element by ','
type(t1)

tuple

In [11]:
t2 = ('a')
type(t2)

str

In [13]:
t_not_3 = (1) * (2*3)
type(t_not_3)

int

In [ ]:
# built-in function tuple
t = tuple()
print(t)

In [20]:
# built-in function tuple with string as argument
t = tuple('lupins')
# t_lst = list('lupins')
print(t)
# print(t_lst)

('l', 'u', 'p', 'i', 'n', 's')

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0]) # bracket operator indexes an element

In [ ]:
print(t[1:3]) # slice operator selects a range of elements

In [ ]:
t[0] = 'A'

In [ ]:
# can’t modify the elements of a tuple, but can replace one tuple with another
t = ('A',) + t[1:]
print(t)

## 11(10).2 Comparing tuples

In [23]:
(0, 1, 2) == (0, 1, 2) # comparing with respective sequence elements

True

In [27]:
(0, 1, 2) >= (0, 1, 2) # comparing with respective sequence elements

True

In [28]:
(0, 1, 2) < (0, 3, 4) # comparing with respective sequence elements

True

In [29]:
(0, 1, 2000000) < (0, 3, 4)

True

In [30]:
# you have a list of words and you want to sort them from longest to shortest:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))

t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

## 11(10).3 Tuple assignment

In [31]:
# 1st Way

# unique syntactic features of the Python language is the ability to have a tuple on the left side of an assignment statement.
m = [ 'have', 'fun' ] # create an iterable list of strings 
x, y = m              # assiging iterable elements to individual variables

In [32]:
x

'have'

In [33]:
y

'fun'

In [36]:
# 2nd Way

m = [ 'have', 'fun' ]
x = m[0]
y = m[1]

In [37]:
x

'have'

In [38]:
y

'fun'

In [39]:
# 3rd Way

m = [ 'have', 'fun' ]   # create an iterable list of strings
(x, y) = m              # assiging iterable elements to tuple elements

In [40]:
x

'have'

In [41]:
y

'fun'

In [43]:
# application of tuple assignment allows us to swap the values of two variables in a single statement
print(x, y)
x, y = y, x

fun have

In [44]:
print(x, y)

have fun

In [50]:
a, b = 1, 2, 3
# *a, b = 1, 2, 3   # remember that wildcards can help in this situation
# a, *b = 1, 2, 3   # remember that wildcards can help in this situation

In [51]:
print('`a` is ', a)
print('`b` is ', b)

print('type of `a` is ', type(a))
print('type of `b` is ', type(b))

`a` is  [1, 2]
`b` is  3
type of `a` is  <class 'list'>
type of `b` is  <class 'int'>

In [52]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [53]:
print(uname)
print(type(uname))

monty
<class 'str'>

In [54]:
print(domain)
print(type(domain))

python.org
<class 'str'>

## 11(10).4 Dictionaries and tuples

In [58]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
t = list(d.items())                 # items() method returns a tuple 
print(t)
print(type(t))
# Here each tuple is a key-value pair:

[('z', 12), ('c', 22), ('b', 1), ('a', 10)]
<class 'list'>

In [ ]:
t

In [59]:
t.sort()

In [60]:
t

[('a', 10), ('b', 1), ('c', 22), ('z', 12)]

## 11(10).5 Multiple assignment with dictionaries

In [ ]:
for key, val in list(d.items()):
    print(val, key)

In [61]:
# d = {'a':10, 'b':1, 'c':22}       # original Charles Severance code
d = {'z':12, 'c':22, 'b':1, 'a':10} # original Charles Severance code
l = list()
for key, val in d.items() :
    l.append( (val, key) )

In [62]:
l

[(12, 'z'), (22, 'c'), (1, 'b'), (10, 'a')]

In [63]:
l.sort(reverse=True)
l

[(22, 'c'), (12, 'z'), (10, 'a'), (1, 'b')]

## 11(10).6 The most common words

**Upload the Py4E exercise file "romeo-full.txt" to your Colab content area.**     

**You can find the file here: [romeo-full.txt](https://bit.ly/romeo-full)**

In [66]:
import string
fhand = open('romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

# Sort the dictionary by value
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))

lst.sort(reverse=True)

print('Word', 'Frequency')
print('----', '---------')
for key, val in lst[:20]:
    print(key, val)

Word Frequency
---- ---------
61 i
42 and
40 romeo
34 to
34 the
32 thou
32 juliet
30 that
29 my
24 thee
24 love
24 a
22 it
21 is
20 thy
20 of
18 not
18 me
18 but
16 would



---

# **Advanced text parsing**

In the above example using the file **romeo.txt**, we made the file as simple as possible by removing all punctuation by hand. The actual text has lots of punctuation, as shown below.

```
But, soft! what light through yonder window breaks?

It is the east, and Juliet is the sun.

Arise, fair sun, and kill the envious moon,

Who is already sick and pale with grief,
```

Since the Python `.split()` function looks for spaces and treats words as tokens separated by spaces, we would treat the words “soft!” and “soft” as different words and create a separate dictionary entry for each word.

Also since the file has capitalization, we would treat “who” and “Who” as different words with different counts.

We can solve both these problems by using the string methods `.lower()`, `.punctuation()`, and `.translate()`. The `.translate()` is the most subtle of the methods.

In [ ]:
# line.translate(str.maketrans(from_str, to_str, delete_str))

Replace the characters in `from_str` with the character in the same position in `to_str` and delete all characters that are in `delete_str`. The `from_str` and `to_str` can be empty strings and the `delete_str` parameter can be omitted.

We will not specify the `to_str` but we will use the `delete_str` parameter to delete all of the punctuation. We will even let Python tell us the list of characters that it considers “punctuation”:

In [67]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

The parameters used by translate were different in Python 2.0.

We make the following modifications to our program:

In [ ]:
import string

fname = input('Enter the file name: ')
try:
    fhand = open(fname)
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    line = line.rstrip()
    line = line.translate(line.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

print(counts)

# Code: http://www.py4e.com/code3/count2.py

Part of learning the “Art of Python” or “Thinking Pythonically” is realizing that Python often has built-in capabilities for many common data analysis problems. Over time, you will see enough example code and read enough of the documentation to know where to look to see if someone has already written something that makes your job much easier.



---

# **Debugging**

As you work with bigger datasets it can become unwieldy to debug by printing and checking data by hand. Here are some suggestions for debugging large datasets:

**Scale down the input**
If possible, reduce the size of the dataset. For example if the program reads a text file, start with just the first 10 lines, or with the smallest example you can find. You can either edit the files themselves, or (better) modify the program so it reads only the first n lines.

If there is an error, you can reduce n to the smallest value that manifests the error, and then increase it gradually as you find and correct errors.

**Check summaries and types**
Instead of printing and checking the entire dataset, consider printing summaries of the data: for example, the number of items in a dictionary or the total of a list of numbers.

A common cause of runtime errors is a value that is not the right type. For debugging this kind of error, it is often enough to print the type of a value.

**Write self-checks**
Sometimes you can write code to check for errors automatically. For example, if you are computing the average of a list of numbers, you could check that the result is not greater than the largest element in the list or less than the smallest. This is called a “sanity check” because it detects results that are “completely illogical”.

Another kind of check compares the results of two different computations to see if they are consistent. This is called a “consistency check”.

**Pretty print the output**
Formatting debugging output can make it easier to spot an error.
Again, time you spend building scaffolding can reduce the time you spend debugging.


---