<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_Shaolong_Employment_Unemployment_12_May_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Employment and Unemployment Levels 

*from the original work of CST3512 student Shaolong Lin, May-2022*

**The following outline describes the approach in this notebook:**    

1. Housekeeping    
2. Load Data for Emplyoyment Level
3. Transform Employment Level Data    
4. Load Data for UnEmployment Level    
5. Transform UnEmployment Level Data    
6. Integrate Employment and UnEmployment Level Data   
* APPENDIX: Datetime Reference Information

**SHORTHAND/NOTES**    

This notebook uses the following conventions for expediency and consistency: 

**`_df`** : refers to a dataframe variable    
**`_str`** : refers to a string variable    
**`_list`** : refers to a list variable    
**`_dict`** : refers to a dictionary variable    

**`el_`** : refers to a variable with **Employment Level** data    
**`ul_`** : refers to a variable with **Un-Employment Level** data



---

##1. Housekeeping    

* Import libraries    

* Create standing value variables (dictionary of month abbreviations to month integers)

In [51]:
import pandas as pd  # a usuall suspect
#import numpy as np  # not needed (yet)
#import matplotlib   # not needed (yet)

import datetime      # for indexing on datetime

###Create a dictionary of month abbreviations (from column names) to integers
assign `{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}` to `month_dict`    

*This will be used to create a column with the integer value of a month, where needed.*

In [57]:
###Create a dictionary of month abbreviations (from column names) to integers
month_dict = {'Jan': 1, 'Feb': 2, 'Mar': 3,
              'Apr': 4, 'May': 5, 'Jun': 6, 
              'Jul': 7, 'Aug': 8, 'Sep': 9, 
              'Oct': 10, 'Nov': 11, 'Dec': 12
              }

###Create a string of datetime format tokens for creation of `datetime` objects    

assign `"%Y-$B"` to `format_token_str`    

*This will be used when reading string content into a `datetime` object.*

In [66]:
format_token_str = '%Y-%b'



---

##2. Load Data for Employment Level

####The following snippet is Shaolong's original code    

*This is deprecated and can be deleted.*

In [ ]:
# original code which is now deprecated 
# Employment_Level = pd.read_csv('/content/drive/MyDrive/CST 3512: Data management 2/Project Data Base/Using/Employment Level - BLS Data Series.csv', skiprows = 11)
## Employment_Level = pd.read_csv(File2, skiprows = 11)
# Employment_Level.drop(Employment_Level[Employment_Level.Year == 2022].index, inplace=True)

or,

##Copy the file from Github to the current working directory

In [3]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/Employment%20Level%20-%20BLS%20Data%20Series.csv -o "bls_employment-level.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1392  100  1392    0     0   3596      0 --:--:-- --:--:-- --:--:--  3587

In [ ]:
el_df = pd.read_csv('/content/bls_employment-level.csv', skiprows = 11)
el_df.drop(el_df[el_df.Year == 2022].index, inplace=True)
el_df.info()

##3. Transform Employment Level Data

We see a mix of float and integer values for different month columns.    
As this data is headcount data, it lends itself to be treated as integer.

In [93]:
# transform float value columns to integer for consistency
# Q1 - this quarter seems to be moot but transform it just in case  
el_df['Jan'] = el_df['Jan'].astype('int')
el_df['Feb'] = el_df['Feb'].astype('int')
el_df['Mar'] = el_df['Mar'].astype('int')
# Q2  
el_df['Apr'] = el_df['Apr'].astype('int')
el_df['May'] = el_df['May'].astype('int')
el_df['Jun'] = el_df['Jun'].astype('int')
# Q3  
el_df['Jul'] = el_df['Jul'].astype('int')
el_df['Aug'] = el_df['Aug'].astype('int')
el_df['Sep'] = el_df['Sep'].astype('int')
# Q4  
el_df['Oct'] = el_df['Oct'].astype('int')
el_df['Nov'] = el_df['Nov'].astype('int')
el_df['Dec'] = el_df['Dec'].astype('int')

In [ ]:
el_df.info()

In [ ]:
el_df.head(20)

Now, melt the columns into rows of data.    
Assign the resulting `dataframe` from the `.melt()` method to a new variable `el_col_df`.

In [31]:
el_col_df = el_df.melt(id_vars= ['Year'])

Give the melted columns more meaningful names:    

* the `variable` column is our three-character month abbreviation    
* the `value` column is the integer data of employment level for the month

In [32]:
el_col_df.rename(columns={'variable': 'Month', 'value': 'Employment_Level'}, inplace=True)

In [ ]:
el_col_df.info()

Construct a string column which combines the year and three character month for readability.   Call this column `Period`.

In [45]:
el_col_df['Period'] = el_col_df['Year'].astype('str') + '-' + el_col_df['Month']

Because we have a `Year` column with the year as an integer, why not create a column with the integer value of the month?   Call this column `mm`.

In [58]:
el_col_df['mm'] = el_col_df['Month'].replace(month_dict)

Use the `format_token_str` string assigned in *Housekeeping* as an argument to  the Pandas method `.to_datetime()` which creates a `Datetime` object based on the column `Period`.    

Set the `dataframe`'s index to the newly created `Datetime` column.

In [67]:

el_col_df['Datetime'] = pd.to_datetime(el_col_df['Period'], format=format_token_str)
el_col_df = el_col_df.set_index(pd.DatetimeIndex(el_col_df['Datetime']))

In [ ]:
el_col_df.info()

In [ ]:
el_col_df.head(20)

In [ ]:
el_col_df.tail(20)



---

##4. Load Data for UnEmployment Data

####The following snippet is Shaolong's original code    

*This is deprecated and can be deleted.*

In [ ]:
# original code which is now deprecated Unemployment_Level = pd.read_csv('/content/drive/MyDrive/CST 3512: Data management 2/Project Data Base/Using/Unemployment Level - BLS Data Series.csv', skiprows = 11)
## File8['Year'] = pd.to_datetime(File8['Year'])
## Unemployment_Level = pd.read_csv(File8, skiprows = 11)
# Unemployment_Level.drop(Unemployment_Level[Unemployment_Level.Year == 2022].index, inplace=True)

or,

##Copy the file from Github to the current working directory

In [12]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/a91a2a868d0545307c7733251df18909bdd48d39/Unemployment%20Level%20-%20BLS%20Data%20Series.csv -o "bls_unemployment-level.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1187  100  1187    0     0  22826      0 --:--:-- --:--:-- --:--:-- 22826

In [ ]:
ul_df = pd.read_csv('/content/bls_unemployment-level.csv', skiprows = 11)
ul_df.drop(ul_df[ul_df.Year == 2022].index, inplace=True)
ul_df.info()

##5. Transform Data for UnEmployment Level

We see a mix of float and integer values for different month columns.    
As this data is headcount data, it lends itself to be treated as integer.

In [85]:
# transform float value columns to integer for consistency
# Q1 - this quarter seems to be moot but transform it just in case  
ul_df['Jan'] = ul_df['Jan'].astype('int')
ul_df['Feb'] = ul_df['Feb'].astype('int')
ul_df['Mar'] = ul_df['Mar'].astype('int')
# Q2  
ul_df['Apr'] = ul_df['Apr'].astype('int')
ul_df['May'] = ul_df['May'].astype('int')
ul_df['Jun'] = ul_df['Jun'].astype('int')
# Q3  
ul_df['Jul'] = ul_df['Jul'].astype('int')
ul_df['Aug'] = ul_df['Aug'].astype('int')
ul_df['Sep'] = ul_df['Sep'].astype('int')
# Q4  
ul_df['Oct'] = ul_df['Oct'].astype('int')
ul_df['Nov'] = ul_df['Nov'].astype('int')
ul_df['Dec'] = ul_df['Dec'].astype('int')

In [ ]:
ul_df.info()

In [ ]:
ul_df.head(20)

Now, melt the columns into rows of data.    
Assign the resulting `dataframe` from the `.melt()` method to a new variable `ul_col_df`.

In [87]:
ul_col_df = ul_df.melt(id_vars= ['Year'])

Give the melted columns more meaningful names:    

* the `variable` column is our three-character month abbreviation    
* the `value` column is the integer data of un-employment level for the month

In [88]:
ul_col_df.rename(columns={'variable': 'Month', 'value': 'Un-Employment_Level'}, inplace=True)

In [ ]:
ul_col_df.info()

Construct a string column which combines the year and three character month for readability.   Call this column `Period`.

In [89]:
ul_col_df['Period'] = ul_col_df['Year'].astype('str') + '-' + ul_col_df['Month']

Because we have a `Year` column with the year as an integer, why not create a column with the integer value of the month?   Call this column `mm`.

In [90]:
ul_col_df['mm'] = ul_col_df['Month'].replace(month_dict)

Use the `format_token_str` string assigned in *Housekeeping* as an argument to  the Pandas method `.to_datetime()` which creates a `Datetime` object based on the column `Period`.    

Set the `dataframe`'s index to the newly created `Datetime` column.

In [91]:
ul_col_df['Datetime'] = pd.to_datetime(ul_col_df['Period'], format=format_token_str)
ul_col_df = ul_col_df.set_index(pd.DatetimeIndex(ul_col_df['Datetime']))

In [ ]:
ul_col_df.info()

In [ ]:
ul_col_df.head(20)

In [ ]:
ul_col_df.tail(20)



---

##6. Integrate Employment and UnEmployment Level Data

Using the **Employment Level** data in the `el_col_df` dataframe, create a new `df` dataframe which will be used as the foundational dataframe to include **Un-Employment Level** column data from the `ul_col_df` dataframe.

In [74]:
df = el_col_df

Create a column `Un-Employment_Level` in the new `df` dataframe and assign values to that column using the `Un-Employment_Level` column in the `ul_col_df` dataframe.

In [75]:
df['Un-Employment_Level'] = ul_col_df['Un-Employment_Level'].values

Beacuse we have `Datetime` as the index, we can drop the `Datetime` column.   While we are at it, let's rearrange the order of the columns to be more inuitive.

In [81]:
df = df[['Period', 'Year', 'mm', 'Month', 'Employment_Level', 'Un-Employment_Level']]

In [ ]:
df.info()

In [ ]:
df.head(20)

In [ ]:
df.tail(20)

Now, we have one `df` dataframe with a row for every month in every year and  columns for both `Employment_Level` and `Un-Employment_Level` using a `Datetime` index.



---



---

##APPENDIX: Datetime    

*Quick reference on using `date`, `time`, and `datetime` objects as an index.*

These: **"%Y-%m-%d %H:%M:%S.%f"** are known as format tokens. Each token represents a different part of the date-time, like day, month, year, etc. Check out the strptime documentation for the list of all different types of format code supported in Python. For a quick reference, here is what we're using in the code above:    
    
* **%Y** : Year (4 digits)
* **%B** : Month as three alpha abbreviation (in English)
* **%m** : Month
* **%d** : Day of month
* **%H** : Hour (24 hour)
* **%M** : Minutes
* **%S** : Seconds
* **%f** : Microseconds

*All of these tokens, except the year, are expected to be zero-padded.*    

So, if the format of a string is known, it can be easily parsed to a datetime object using strptime. Here is an example:

In [52]:
# import datetime

date_time_str = 'Jun 28 2018 7:40AM'
date_time_obj = datetime.datetime.strptime(date_time_str, '%b %d %Y %I:%M%p')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2018-06-28
Time: 07:40:00
Date-time: 2018-06-28 07:40:00

Here are a few more examples of commonly used time formats and the tokens used for parsing:

```
"Jun 28 2018 at 7:40AM" -> "%b %d %Y at %I:%M%p"
"September 18, 2017, 22:19:55" -> "%B %d, %Y, %H:%M:%S"
"Sun,05/12/99,12:30PM" -> "%a,%d/%m/%y,%I:%M%p"
"Mon, 21 March, 2015" -> "%a, %d %B, %Y"
"2018-03-12T10:12:45Z" -> "%Y-%m-%dT%H:%M:%SZ"
```

Here is a more thorough listing of `DateTime` token strings.

DateTime Format Codes
One extremely important concept to understand is DateTime format codes. This is how you instruct Pandas what format your DateTime string is in. It’s magic every time you see it work. In fact, I look forward to gross strings with dates in them just to parse. See documentation.

Format Code	Description	Examples
* **%a** : 	Weekday, abbreviated	Mon, Tues, Sat    
* **%A** : 	Weekday, full name	Monday, Tuesday, Saturday    
* **%w** : 	Weekday, decimal. 0=Sunday	1, 2, 6     
* **%d** : 	Day of month, zero-padded	01, 02, 21    
* **%b** : 	Month, abbreviated	Jan, Feb, Sep    
* **%B** : 	Month, full name	January, February, September    
* **%m** : 	Month number, zero-padded	01, 02, 09    
* **%y** : 	Year, without century, zero-padded	02, 95, 99    
* **%Y** : 	Year, with century	1990, 2020    
* **%H** : 	Hour (24 hour), zero padded	01, 22    
* **%I** : 	Hour (12 hour) zero padded	01, 12    
* **%p** : 	AM or PM	AM, PM    
* **%M** : 	Minute, zero-padded	01, 02, 43    
* **%S** : 	Second, zero padded	01, 32, 59    
* **%f** : 	Microsecond, zero-padded	000001, 000342, 999999    
* **%z** : 	UTC offset ±HHMM[SS[.ffffff]]	+0000, -1030, -3423.234    
* **%Z** : 	Time zone name	ITC, EST, CST    
* **%j** : 	Day of year, zero-padded	001, 365, 023    
* **%U** : 	Week # of year, zero-padded. Sunday first day of week	00, 01, 51    
* **%W** : 	Week # of year, zero-padded. Monday first day of week	00, 02, 51    
* **%c** : 	Appropriate date and time	Monday Feb 01 21:30:00 1990    
* **%x** : 	Appropriate Date	02/01/90    
* **%X** : 	Appropriate Time	21:22:00    
* **%%** : 	Literal '%' – Use this when you have a % sign in your format.	%

You can parse a date-time string of any format using the table mentioned in the [strptime documentation](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).



---