<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_interpolate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Interpolate     

**CST3512 - Example Interpolating Annual Values into Monthly**   

For examples and informaton on Pandas `.interpolate()` [read the post by Geeks-for-Geeks](https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/).

There are several methods `.interpolate()` can use for the generation of data to replace missing values:    

* method=‘**linear**’ : ignores the index and treats the values as equally spaced.     

* method=‘**time**’ : works on daily and higher resolution data to interpolate given length of interval.    

* method=‘**index**’ : also **Values** use the actual numerical values of the index.     

* method=‘**values**’ : also **Index**, use the actual numerical values of the index.    

* method=‘**nearest**’ : also **Round** interpolation, (also called **nearest neighbor** interpolation) is the simplest method, it just takes rounded value of the expected position and finds therefore the closest data value at integer position.    

* method=‘**zero**’ : Zero filling interpolation (ZIP) is the substitution of zeroes for unmeasured data points in order to increase the matrix size of the new dataset.    

* method=‘**slinear**’ : will only interpolate "inside" values. It will not interpolate None values that do not have a valid value on both sides. Using index values will default to limit_direction='forward' which will interpolate inside values and anything after a non NaN value.    

* method=‘**quadratic**’ : has as final objective to find a quadratic function (second degree) that considers the given samples.    

* method=‘**cubic**’ : a special case for **Spline** interpolation that is used very often to avoid the problem of Runge's phenomenon. This method gives an interpolating polynomial that is smoother and has smaller error than some other interpolating polynomials such as Lagrange polynomial and Newton polynomial.    

* method=‘**barycentric**’ : constructs a polynomial that passes through a given set of points, then evaluates the polynomial. For reasons of numerical stability, this function does not compute the coefficients of the polynomial.    

* method=‘**krogh**’ : constructs a polynomial that passes through a given set of points, optionally with specified derivatives at those points. Evaluates the polynomial or some of its derivatives. For reasons of numerical stability, this function does not compute the coefficients of the polynomial, although they can be obtained by evaluating all the derivatives.    

* method=‘**polynomial**’ : the interpolation of a given data set by the polynomial of lowest possible degree that passes through the points of the dataset.    

* method=‘**spline**’ : a mathematical method commonly used to construct new points within the boundaries of a set of known points. The new points are function values of an interpolation function (referred to as spline), which itself consists of multiple cubic piecewise polynomials.    

* method=‘**piecewise_polynomial**’ : We break the interval into smaller subintervals, and use polynomial interpolation with low degree polynomials on each subinterval. Typically we choose polynomial degree of about 3. This is a good compromise between small errors and control of oscillations.    

* method=‘**from_derivatives**’ : the derivative approximation is only poor when we extrapolate, not when we interpolate. This is typical of linear approximations to a function.    

* method=‘**pchip**’ : pchip interpolates using a piecewise cubic polynomial P ( x ) with these properties: On each subinterval x k ≤ x ≤ x k + 1 , the polynomial P ( x ) is a cubic Hermite interpolating polynomial for the given data points with specified derivatives (slopes) at the interpolation points.   

* method=‘**akima**’ : a continuously differentiable sub-spline interpolation. It is built from piecewise third order polynomials. Only data from the next neighbor points is used to determine the coefficients of the interpolation polynomial.    


Pandas reference information on `.interpolate()` can be found [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html).


See Alan J. Macleod on[ A Comparison of Algorithms for Polynomial Interpolation](https://pdf.sciencedirectassets.com/271610/1-s2.0-S0771050X00X00241/1-s2.0-0771050X82900511/main.pdf?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCICnERDisnzt50bFAUJaWrkhq5TB9RteAZDsMJw49JNZ0AiA2u5EsuS1I7jhU%2Bwa6Cv5O8fbSA6%2BoGqPrmLm6pYlc5yrbBAjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDA1OTAwMzU0Njg2NSIMc1wAXZQekboxFc5WKq8Ef9kdHQZbPdhum1eZCWNvVMCEUidaPmfx1z5%2BLkaGdj%2FVhs2LFCs%2BC8gO7dx6mL1EX99Na6MNvnmckWWMPHJfLLwWRCKZbxG0ELSVHM6X6jYgaGu0I8ctkFzH2bv621AxwLphLwvYH9KoLd6uM5jD5rsKBDqUtSJan%2BCa4YbxvlXpVbsy2wjKxBobuHIohqC1uo8HiZGaKMgD%2Bu9ebJmtjfY8hCIT5ocKIKg8FSG1dC5aSpkOQfOWf9L88FpYGbd0a8cat8Nh5tnEdOZbrHtqP6vMOSePUYjQdWTft6X%2FgF%2FHvVcVznBfPTmuvQpyknGSAetQRx6bqGjAY7Lxqvb9eSSO5%2B%2Bzs8xVESFk1P7aIe42ZLhM%2BzvPtWWT1VMoPl1uRQuR9l5wYFOI7IguWoOnk2GzNIh30qxZ84gCp%2B%2FWl192WLFcmUg%2BtRhtl5s%2B5aExaN9fa3oawtdYJEUA33%2BX7TrnbjHSQepQmCgrsuB%2BMua6JqDVAA009iFveQaos7eTkfA%2B0tXYSniZJNdgUIzFhXed%2BDKpEmk%2FE8VZsX3T5YF8lF7EmmbddrFPMFOavb4YMOOv2KT0WK5xfUOd59cKghjzcWmIBNp0rI8YTzicnET1kqrtluwemI9dvHmhNdafrmawKpuVbxKTCjagAKFDnYoKlkgN9U9bsnxqi%2FWnv3xXYV%2BGyvMumYH6DNJgew2FQxeWcKmwEraXSqTUEHD6heg%2Fb68B0WmO%2B3h5wOLp5DC7m4%2BUBjqqAWPGMs3uVDUH%2B14PY3igfwdegX90IBY%2FLS8TCDtDv5NRWS8lA2egvqK0InOqMZVCQ1%2F4Z2FSQ5POCzaccc1O%2FK6R3h6CX10ofJFDixJhJuwEjemw5Wnw3vLlv8TGe30vT1WvDNDQHZQwzW8RKzlipaNn6J2CPVicKVsbiX77i%2BrYUoaTf69%2FV%2BlEXnk00bKOZDLiCSiIM4LTWS1rl51C%2FtSNi3r0MJIeVqow&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220517T173852Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAQ3PHCVTYXYPFMLKU%2F20220517%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=75b74b7c6eb73f76facb5bf3f56199ae93bebcd01e0b5e0449916a8e76fdd664&hash=0862fbb894c6ce3ccbd570164ef76e1f93a7e19ebcd048deb781779b20562a66&host=68042c943591013ac2b2430a89b270f6af2c76d8dfd086a07176afe7c76c2c61&pii=0771050X82900511&tid=spdf-06ebb043-dc38-4831-8b82-01601a5913c7&sid=e72649da7ad17643c6493b24ea659dbda303gxrqa&type=client&ua=4d5e03035253505f5707&rr=70ce21112e8892fc) for more information.

**This notebook uses `method='cubic'` for interpolation.**



---

##Spin up two dataframes    

1.  **monthly_df**  : dataframe with monthly series of a metric `Monthly_Value`  

2.  **annual_df** : dataframe with annual series of a metric `Annual_Value`    

**OBJECTIVE**    
Interpolate the `annual_df['Annual_Value']` series into a monthly series combined with the monthly data in `monthly_df`.

##Housekeeping

###Import Libraries

In [62]:
import pandas as pd     # to work with dataframes 
import numpy as np      # just in case

import datetime         # to create datetime objects

###Datetime Token Strings    

Create format token strings to use converting `Year` (YYYY) and `Year_Month` (YYYY-Mmm) into datetimes


assign `"%Y-$B"` to `yyyymmm_token_str`    

*This will be used when reading string content of a four-digit year, hyphen, and three-character month abbreviation into a `datetime` object.*

In [63]:
yyyymmm_token_str = '%Y-%b'  # to read a date string in the format 'YYYY-Mmm'


assign `"%Y"` to `yyyy_token_str`    

*This will be used when reading string content of a four-digit year into a `datetime` object.*

In [64]:
yyyy_token_str = '%Y'        # to read a date string in the format 'YYYY'



---

###Create a Dataframe for Each Series

In [65]:
# create a dataframe with a monthly series of values in column `Monthly_Value` 
monthly_df = pd.DataFrame({
              'Monthly_Value' : { 
                  '2019-Jan': 101, '2019-Feb': 102, '2019-Mar': 103, 
                  '2019-Apr': 104, '2019-May': 105, '2019-Jun': 106, 
                  '2019-Jul': 107, '2019-Aug': 108, '2019-Sep': 109, 
                  '2019-Oct': 110, '2019-Nov': 111, '2019-Dec': 112, 
                  '2020-Jan': 201, '2020-Feb': 202, '2020-Mar': 203, 
                  '2020-Apr': 204, '2020-May': 205, '2020-Jun': 206, 
                  '2020-Jul': 207, '2020-Aug': 208, '2020-Sep': 209, 
                  '2020-Oct': 210, '2020-Nov': 211, '2020-Dec': 212, 
                  '2021-Jan': 301, '2021-Feb': 302, '2021-Mar': 303, 
                  '2021-Apr': 304, '2021-May': 305, '2021-Jun': 306, 
                  '2021-Jul': 307, '2021-Aug': 308, '2021-Sep': 309, 
                  '2021-Oct': 310, '2021-Nov': 311, '2021-Dec': 312,
                  '2022-Jan': None}
              })    

# note that the trailing NaN record above will be used as a placeholder 
# for the next year's annual value which improves our 2021 interpolation

In [ ]:
# execute the following statement to replace missing data with zeroes (not recommended)
# monthly_df = monthly_df.fillna(0)

In [ ]:
# execute the following to convert `Monthly_Value` to integer (will not work with Nan values)
# monthly_df = monthly_df['Monthly_Value'] = monthly_df['Monthly_Value'].astype('int')

In [ ]:
# metadata about the `monthly_df` dataframe created from a dictionary above
monthly_df.info()
print()
monthly_df.describe()

In [67]:
# create a dataframe with an annual series of values in column `Annual_Value` 
annual_df = pd.DataFrame({
              'Annual_Value' : { 
                  '2018' :  7892.52,
                  '2019' :  8150.78,
                  '2020' :  9789.12,
                  '2021' : 10078.55,
                  '2022' : 12891.34}
              })

In [ ]:
# metadata about the `annual_df` dataframe created from a dictionary above
annual_df.info()
print()
annual_df.describe()

In [ ]:
# a look at the `monthly_df` dataframe with monthly values
monthly_df

In [ ]:
# a look at the `annual_df` dataframe with annual values
annual_df



---

##Solution

###Index the Dataframes on `datetime`

In [71]:
# indexing the `monthly_df` dataframe on datetime (using our YYYY-Mmm token)
monthly_df['Datetime'] = pd.to_datetime(monthly_df.index, format=yyyymmm_token_str)
monthly_df = monthly_df.set_index(pd.DatetimeIndex(monthly_df['Datetime']))

In [ ]:
# a look at the `monthly_df` dataframe with monthly values, indexed on datetime
monthly_df

In [72]:
# indexing the `annual_df` dataframe on datetime (using our YYYY token)
annual_df['Datetime'] = pd.to_datetime(annual_df.index, format=yyyy_token_str)
annual_df = annual_df.set_index(pd.DatetimeIndex(annual_df['Datetime']))

In [ ]:
# a look at the `annual_df` dataframe with yearly values, indexed on datetime 
annual_df

###Merge Into One `df` Dataframe    

**resulting dataframe should have the greatest level of row details (the most rows)**

In [74]:
# use .merge() method to join `Monthly_Values` from `monthly_df` into `annual_df` as `df`
# the new dataframe `df` will have a row for every row in `monthly_df` 
# where there is no `annual_df` value for a month, the `df` dataframe will have NaN  
df = annual_df.merge(monthly_df['Monthly_Value'], left_index=True, right_index=True, how='right')

In [75]:
# we no longer need the `Datetime` column 
df = df.drop(columns = ['Datetime'])

In [76]:
# before interpolation, let's be sure that our data is in chronological (datetime) order  
df.sort_index(axis = 0, inplace=True)

In [ ]:
# a look at the `df` dataframe  
df

###Interpolate    

**replace NaN for the annual data using the `.interpolate()` method**

In [78]:
# using the `cubic` method we interpolate forward and backward for NaN value replacement
df.interpolate(method="cubic", order=1, limit_direction="both", inplace=True)

In [ ]:
# a look at the `df` dataframe after interpolation 
df



---

Now try it with some real data!



---