<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_Class19_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##CST3512 Class 19    
**Row and Column Indexing**    


1. **Hierarchical Indexing**    
2. **Dewey Decimal Dictionary**     



This notebook is based on [Section 8.1 Hierarchical Indexing](https://wesmckinney.com/book/data-wrangling.html) from Chapter 8 - Data Wrangling:     

  - Join,     
  - Combine, and     
  - Reshape     
  
  in Wes Mckinney's 'Python for Data Analysis'

In many applications, data may be spread across a number of files or databases or be arranged in a form that is not convenient to analyze. This chapter focuses on tools to help combine, join, and rearrange data.    

This notebook introduces the concept of **hierarchical indexing** in pandas, which is used extensively in some of these operations. Chapter 8 of the book then digs into the particular data manipulations. Various applied usages of these tools can be seen in [Data Analysis Examples](https://wesmckinney.com/book/data-wrangling.html#data-analysis-examples).



---

##**Housekeeping**    

Import required modules

In [1]:
# Import pandas 
import pandas as pd

# Import numpy   
import numpy as np

##**1. Hierarchical Indexing**

**Hierarchical indexing** is an important feature of pandas that enables you to have multiple (two or more) index levels on an axis. Another way of thinking about it is that it provides a way for you to work with higher dimensional data in a lower dimensional form. Let’s start with a simple example: create a Series with a list of lists (or arrays) as the index:

###First, using the default index values...

In [7]:
data_0 = pd.Series(np.random.randn(9))

print(data_0)

0   -0.412033
1    0.339982
2   -0.549759
3   -0.964211
4    0.904280
5    0.798179
6   -1.941745
7    0.099181
8    1.156431
dtype: float64

In [8]:
print(data_0[5])

0.7981794250776526

###Then, using a list of unique values as row indices...

In [10]:
data_1 = pd.Series(np.random.randn(9),
       index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

print(data_1)

a   -0.083988
b    2.120044
c    0.202272
d   -0.491024
e    0.510354
f   -0.307540
g    1.228234
h   -1.990508
i    0.478982
dtype: float64

In [11]:
print(data_1['d'])

-0.4910244679893649

###Of course, this does not work...

In [12]:
data_2 = pd.Series(np.random.randn(9),
       index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])

print(data_2)

a    0.698414
a   -0.535246
a    1.872640
b   -0.070535
b    1.491435
c   -0.988773
c    0.022553
d    0.205425
d    1.204814
dtype: float64

In [13]:
print(data_2['b'])

b   -0.070535
b    1.491435
dtype: float64

###But, what does the following do?

In [14]:
data_3 = pd.Series(np.random.randn(9),
       index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
       [1, 2, 3, 1, 3, 1, 2, 2, 3]])

print(data_3)

a  1   -0.730263
   2    0.803144
   3    0.705221
b  1    0.564720
   3   -0.444616
c  1   -0.102345
   2   -0.373366
d  2    0.291703
   3    2.392430
dtype: float64

In [15]:
corp = pd.Series(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth'], 
index=[['Americas', 'Americas', 'Americas', 'EMEA', 'EMEA', 'AsiaPac', 'AsiaPac', 'Corp', 'Corp'], 
[101, 201, 301, 101, 301, 101, 201, 201, 301]])

print(corp)

Americas  101      first
          201     second
          301      third
EMEA      101     fourth
          301      fifth
AsiaPac   101      sixth
          201    seventh
Corp      201     eighth
          301      ninth
dtype: object

What you’re seeing is a prettified view of a Series with a MultiIndex as its index. The “gaps” in the index display mean “use the label directly above”:

In [17]:
print(data_1.index)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype='object')

In [16]:
print(data_3.index)

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [18]:
print(corp.index)

MultiIndex([('Americas', 101),
            ('Americas', 201),
            ('Americas', 301),
            (    'EMEA', 101),
            (    'EMEA', 301),
            ( 'AsiaPac', 101),
            ( 'AsiaPac', 201),
            (    'Corp', 201),
            (    'Corp', 301)],
           )

With a hierarchically indexed object, so-called partial indexing is possible, enabling you to concisely select subsets of the data:

In [19]:
data_3['b']

1    0.564720
3   -0.444616
dtype: float64

In [20]:
corp['EMEA']

101    fourth
301     fifth
dtype: object

In [21]:
data_3['c']

1   -0.102345
2   -0.373366
dtype: float64

In [22]:
data_3['b':'c']

b  1    0.564720
   3   -0.444616
c  1   -0.102345
   2   -0.373366
dtype: float64

In [23]:
data_3['b':'d']

b  1    0.564720
   3   -0.444616
c  1   -0.102345
   2   -0.373366
d  2    0.291703
   3    2.392430
dtype: float64

In [24]:
data_3.loc[['b', 'd']]

b  1    0.564720
   3   -0.444616
d  2    0.291703
   3    2.392430
dtype: float64

In [25]:
corp.loc[['EMEA', 'Americas', 'AsiaPac']]

EMEA      101     fourth
          301      fifth
Americas  101      first
          201     second
          301      third
AsiaPac   101      sixth
          201    seventh
dtype: object

Selection is even possible from an “inner” level. Here I select all of the values having the value "2" from the second index level:

In [26]:
data_3.loc[:, 2]

a    0.803144
c   -0.373366
d    0.291703
dtype: float64

In [27]:
corp.loc[:,201]

Americas     second
AsiaPac     seventh
Corp         eighth
dtype: object

Hierarchical indexing plays an important role in reshaping data and group-based operations like forming a pivot table. For example, you can rearrange this data into a DataFrame using its `unstack` method:

In [28]:
data_3.unstack()

          1         2         3
a -0.730263  0.803144  0.705221
b  0.564720       NaN -0.444616
c -0.102345 -0.373366       NaN
d       NaN  0.291703  2.392430

In [29]:
corp.unstack()

             101      201    301
Americas   first   second  third
AsiaPac    sixth  seventh    NaN
Corp         NaN   eighth  ninth
EMEA      fourth      NaN  fifth

The inverse operation of unstack is stack:

In [31]:
data_3.unstack().stack()

a  1   -0.730263
   2    0.803144
   3    0.705221
b  1    0.564720
   3   -0.444616
c  1   -0.102345
   2   -0.373366
d  2    0.291703
   3    2.392430
dtype: float64

In [32]:
corp.unstack().stack()

Americas  101      first
          201     second
          301      third
AsiaPac   101      sixth
          201    seventh
Corp      201     eighth
          301      ninth
EMEA      101     fourth
          301      fifth
dtype: object

`stack` and `unstack` are explored in more detail in [Chapter 8 of Wes Mckinney's Python for Data Analysis](https://wesmckinney.com/book/data-wrangling.html).

---

With a DataFrame, either axis can have a hierarchical index:

In [33]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
            index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
            columns=[['Ohio', 'Ohio', 'Colorado'],
            ['Green', 'Red', 'Green']])

In [34]:
print(frame)

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

The hierarchical levels can have names (as strings or any Python objects). If so, these will show up in the console output:

In [42]:
# Assign key1 and key2 as `frame` index hierarchy names, respectively   
frame.index.names = ['key1', 'key2'] 

# Assign state and color as `frame` column hierarchy names, respectively 
frame.columns.names = ['state', 'color']

In [36]:
print(frame)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [46]:
# Assign key1 and key2 as `frame` index hierarchy names, respectively   
frame.index.names = ['Region', 'Product'] 

# Assign state and color as `frame` column hierarchy names, respectively 
frame.columns.names = ['state', 'color']

In [47]:
print(frame)

state           Ohio     Colorado
color          Green Red    Green
Region Product
a      1           0   1        2
       2           3   4        5
b      1           6   7        8
       2           9  10       11

***Caution***    
*Be careful to note the index names 'state' and 'color' are not part of the row labels (the `frame.index values`).*

With partial column indexing you can similarly select groups of columns:

In [48]:
frame['Ohio']

color           Green  Red
Region Product
a      1            0    1
       2            3    4
b      1            6    7
       2            9   10

A `MultiIndex` can be created by itself and then reused; the columns in the preceding DataFrame with level names could be created like this:

In [40]:
pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'],
                          ['Green', 'Red', 'Green']],
                          names=['state', 'color'])

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])

###Reordering and Sorting Levels

At times you may need to rearrange the order of the levels on an axis or sort the data by the values in one specific level. The swaplevel takes two level numbers or names and returns a new object with the levels interchanged (but the data is otherwise unaltered):

In [49]:
# frame.swaplevel('key1', 'key2')  # not applicable due to `Region` `Product` assignment earlier
frame.swaplevel('Region', 'Product')

state           Ohio     Colorado
color          Green Red    Green
Product Region
1       a          0   1        2
2       a          3   4        5
1       b          6   7        8
2       b          9  10       11

`sort_index`, on the other hand, sorts the data using only the values in a single level. When swapping levels, it’s not uncommon to also use `sort_index` so that the result is lexicographically sorted by the indicated level:

In [50]:
frame.sort_index(level=1)

state           Ohio     Colorado
color          Green Red    Green
Region Product
a      1           0   1        2
b      1           6   7        8
a      2           3   4        5
b      2           9  10       11

In [51]:
frame.swaplevel(0, 1).sort_index(level=0)

state           Ohio     Colorado
color          Green Red    Green
Product Region
1       a          0   1        2
        b          6   7        8
2       a          3   4        5
        b          9  10       11

***Note:***    

*Data selection performance is much better on hierarchically indexed objects if the index is lexicographically sorted starting with the outermost level—that is, the result of calling `sort_index(level=0)` or `sort_index()`.*

###Summary Statistics by Level

Many descriptive and summary statistics on DataFrame and Series have a `level` option in which you can specify the level you want to aggregate by on a particular axis. Consider the above DataFrame; we can aggregate by `level` on either the rows or columns like so:

In [52]:
frame

state           Ohio     Colorado
color          Green Red    Green
Region Product
a      1           0   1        2
       2           3   4        5
b      1           6   7        8
       2           9  10       11

In [53]:
# frame.groupby(level='key2').sum()   # not applicable due to `Region` `Product` assignment earlier
frame.groupby(level='Product').sum()

state    Ohio     Colorado
color   Green Red    Green
Product
1           6   8       10
2          12  14       16

In [54]:
frame.groupby(level='color', axis=1).sum()

color           Green  Red
Region Product
a      1            2    1
       2            8    4
b      1           14    7
       2           20   10

Internally, this utilizes pandas’s `groupby` machinery, which is discussed in more detail in the book [Python for Data Analysis](https://wesmckinney.com/book/data-aggregation.html).

---

###Indexing with a DataFrame's Columns

It’s not unusual to want to use one or more columns from a DataFrame as the row index; alternatively, you may wish to move the row index into the DataFrame’s columns. Here’s an example DataFrame:

In [55]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
            'c': ['one', 'one', 'one', 'two', 'two',
                 'two', 'two'],
            'd': [0, 1, 2, 0, 1, 2, 3]})

In [56]:
print(frame)

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

DataFrame’s `set_index` function will create a new DataFrame using one or more of its columns as the index:

In [57]:
frame2 = frame.set_index(['c', 'd'])

In [58]:
print(frame2)

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

By default the columns are removed from the DataFrame, though you can leave them in by passing `drop=False` to `set_index`:

In [59]:
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

`reset_index`, on the other hand, does the opposite of `set_index`; the hierarchical index levels are moved into the columns:

In [60]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1



---

####**Related Exercise**


*See the following section of this notebook or the notebook ['Dewey_Dictionary'](https://bit.ly/dewey_notebook) for a related exercise on hierarchical indexing using the Dewey Decimal System.*



---

##**2. Dewey Dictionary**    

Loads the Dewey Decimal System **codes** and **categories** to a dictionary using a [reference from the University of Illinois Library](https://www.library.illinois.edu/infosci/research/guides/dewey/).   

Makes the Dewey `code:category` dictionary available as a `pandas` DataFrame or as a Python Dictionary.

First, copy the file to the current working directory using a `.csv` file from ProfessorPatrickSlatraigh Github at:     
* https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/dewey_codes_categories.csv

In [61]:
!curl 'https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/dewey_codes_categories.csv' -o dewey_dictionary.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 33258  100 33258    0     0   178k      0 --:--:-- --:--:-- --:--:--  179k

###Housekeeping    

Import modules required:    
* **csv** - to read a csv file into a variable    
* **pandas** - for dataframes, etc.
* **numpy** - for arrays

In [62]:
import csv    

import pandas as pd    

import numpy as np

###Read the `CSV` into a Dictionary    

Create an empty `dewey_dict` dictionary and populate it with `key:value` pairs read from the two columns in the `.csv` file, excluding the header row.

In [63]:
# Create an empty dictionary for Dewey code:category pairs   
dewey_dict = {}

try: 
    with open('dewey_dictionary.csv', mode='r') as source:
        csv_read = csv.reader(source)
        next(csv_read)              # to skip the header row in the csv_read file
        for line in csv_read: 
            # print(line)           # scaffolding to peek at lines in csv_read
            # print(line[0])        # scaffolding to peek at col 0 in csv_read
            # print(type(line[0]))  # scaffolding to peek at col 0 type in csv_read
            # wait = input('Hit Enter to continue.') # wait for scaffolding output
            dewey_dict[line[0]] = line[1] # dict entry (key=1st col, value=2nd col)
 
    print('Created the `dewey_dict` Dictionary.')
except:
    print('Error encountered attempting to create `dewey_dict`.')

Created the `dewey_dict` Dictionary.

Descriptive information on the `dewey_dict` Dictionary.

In [64]:
# print the length of the dictionary (# of key:value pairs)
print(len(dewey_dict))

1000

In [65]:
# print the populated dictionary   
print(dewey_dict)

{'000': 'Generalities', '001': 'Knowledge', '002': 'The book', '003': 'Systems', '004': 'Data processing Computer science', '005': 'Computer programming, programs, data', '006': 'Special computer methods', '007': 'Not assigned or no longer used', '008': 'Not assigned or no longer used', '009': 'Not assigned or no longer used', '010': 'Bibliography', '011': 'Bibliographies', '012': 'Bibliographies of individuals', '013': 'Bibliographies of works by specific classes of authors', '014': 'Bibliographies of anonymous and pseudonymous works', '015': 'Bibliographies of works from specific places', '016': 'Bibliographies of works from specific subjects', '017': 'General subject catalogs', '018': 'Catalogs arranged by author & date', '019': 'Dictionary catalogs', '020': 'Library & information sciences', '021': 'Library relationships', '022': 'Administration of the physical plant', '023': 'Personnel administration', '024': 'Not assigned or no longer used', '025': 'Library operations', '026': 'Libraries for specific subjects', '027': 'General libraries', '028': 'Reading, use of other information media', '029': 'Not assigned or no longer used', '030': 'General encyclopedic works', '031': 'General encyclopedic works — American', '032': 'General encyclopedic works in English', '033': 'General encyclopedic works in other Germanic languages', '034': 'General encyclopedic works in French, Provencal, Catalan', '035': 'General encyclopedic works in Italian, Romanian, Rhaeto-Romanic', '036': 'General encyclopedic works in Spanish & Portuguese', '037': 'General encyclopedic works in Slavic languages', '038': 'General encyclopedic works in Scandinavian languages', '039': 'General encyclopedic works in other languages', '040': 'Not assigned or no longer used', '041': 'Not assigned or no longer used', '042': 'Not assigned or no longer used', '043': 'Not assigned or no longer used', '044': 'Not assigned or no longer used', '045': 'Not assigned or no longer used', '046': 'Not assigned or no longer used', '047': 'Not assigned or no longer used', '048': 'Not assigned or no longer used', '049': 'Not assigned or no longer used', '050': 'General serials & their indexes', '051': 'General serials & their indexes American', '052': 'General serials & their indexes In English', '053': 'General serials & their indexes In other Germanic languages', '054': 'General serials & their indexes In French, Provencal, Catalan', '055': 'General serials & their indexes In Italian, Romanian, Rhaeto-Romanic', '056': 'General serials & their indexes In Spanish & Portuguese', '057': 'General serials & their indexes In Slavic languages', '058': 'General serials & their indexes In Scandinavian languages', '059': 'General serials & their indexes In other languages', '060': 'General organization & museology', '061': 'General organization & museology In North America', '062': 'General organization & museology In British Isles In England', '063': 'General organization & museology In central Europe In Germany', '064': 'General organization & museology In France & Monaco', '065': 'General organization & museology In Italy & adjacent territories', '066': 'General organization & museology In Iberian Peninsula & adjacent islands', '067': 'General organization & museology In eastern Europe In Soviet Union', '068': 'General organization & museology In other areas', '069': 'Museology (Museum science)', '070': 'News media, journalism, publishing', '071': 'News media, journalism, publishing In North America', '072': 'News media, journalism, publishing In British Isles In England', '073': 'News media, journalism, publishing In central Europe In Germany', '074': 'News media, journalism, publishing In France & Monaco', '075': 'News media, journalism, publishing In Italy & adjacent territories', '076': 'News media, journalism, publishing In Iberian Peninsula & adjacent islands', '077': 'News media, journalism, publishing In eastern Europe In Soviet Union', '078': 'News media, journalism, publishing In Scandinavia', '079': 'News media, journalism, publishing In other languages', '080': 'General collections', '081': 'General collections American', '082': 'General collections In English', '083': 'General collections In other Germanic languages', '084': 'General collections In French, Provencal, Catalan', '085': 'General collections In Italian, Romanian, Rhaeto-Romanic', '086': 'General collections In Spanish & Portuguese', '087': 'General collections In Slavic languages', '088': 'General collections In Scandinavian languages', '089': 'General collections In other languages', '090': 'Manuscripts & rare books', '091': 'Manuscripts', '092': 'Block books', '093': 'Incunabula', '094': 'Printed books', '095': 'Books notable for bindings', '096': 'Books notable for illustrations', '097': 'Books notable for ownership or origin', '098': 'Prohibited works, forgeries, hoaxes', '099': 'Books notable for format', '100': 'Philosophy & psychology', '101': 'Theory of philosophy', '102': 'Miscellany of philosophy', '103': 'Dictionaries of philosophy', '104': 'Not assigned or no longer used', '105': 'Serial publications of philosophy', '106': 'Organizations of philosophy', '107': 'Education, research in philosophy', '108': 'Kinds of persons in philosophy', '109': 'Historical treatment of philosophy', '110': 'Metaphysics', '111': 'Ontology', '112': 'Not assigned or no longer used', '113': 'Cosmology (Philosophy of nature)', '114': 'Space', '115': 'Time', '116': 'Change', '117': 'Structure', '118': 'Force & Energy', '119': 'Number & quantity', '120': 'Epistemology, causation, humankind', '121': 'Epistemology (Theory of knowledge)', '122': 'Causation', '123': 'Determinism & indeterminism', '124': 'Teleology', '125': 'Not assigned or no longer used', '126': 'The self', '127': 'The unconscious & the subconscious', '128': 'Humankind', '129': 'Origin & destiny of individual souls', '130': 'Paranormal phenomena', '131': 'Occult methods for achieving well-being', '132': 'Not assigned or no longer used', '133': 'Parapsychology & occultism', '134': 'Not assigned or no longer used', '135': 'Dreams & mysteries', '136': 'Not assigned or no longer used', '137': 'Divinatory graphology', '138': 'Physiognomy', '139': 'Phrenology', '140': 'Specific philosophical schools', '141': 'Idealism & related systems', '142': 'Critical philosophy', '143': 'Intuitionism & Bergsonism', '144': 'Humanism & related systems', '145': 'Sensationalism', '146': 'Naturalism & related systems', '147': 'Pantheism & related systems', '148': 'Liberalism, eclecticism, traditionalism', '149': 'Other philosophical systems', '150': 'Psychology', '151': 'Not assigned or no longer used', '152': 'Perception, movement, emotions, drives', '153': 'Mental processes & intelligence', '154': 'Subconscious & altered states', '155': 'Differential & developmental psychology', '156': 'Comparative psychology', '157': 'Not assigned or no longer used', '158': 'Applied psychology', '159': 'Not assigned or no longer used', '160': 'Logic', '161': 'Induction', '162': 'Deduction', '163': 'Not assigned or no longer used', '164': 'Not assigned or no longer used', '165': 'Fallacies & sources of error', '166': 'Syllogisms', '167': 'Hypotheses', '168': 'Argument & persuasion', '169': 'Analogy', '170': 'Ethics (Moral philosophy)', '171': 'Systems & doctrines', '172': 'Political ethics', '173': 'Ethics of family relationships', '174': 'Economic & professional ethics', '175': 'Ethics of recreation & leisure', '176': 'Ethics of sex & reproduction', '177': 'Ethics of social relations', '178': 'Ethics of consumption', '179': 'Other ethical norms', '180': 'Ancient, medieval, Oriental philosophy', '181': 'Oriental philosophy', '182': 'Pre-Socratic Greek philosophies', '183': 'Sophistic & Socratic philosophies', '184': 'Platonic philosophy', '185': 'Aristotelian philosophy', '186': 'Skeptic and Neoplatonic philosophies', '187': 'Epicurean philosophy', '188': 'Stoic philosophy', '189': 'Medieval Western philosophy', '190': 'Modern Western philosophy', '191': 'Modern Western philosophy United States & Canada', '192': 'Modern Western philosophy British Isles', '193': 'Modern Western philosophy Germany & Austria', '194': 'Modern Western philosophy France', '195': 'Modern Western philosophy Italy', '196': 'Modern Western philosophy Spain & Portugal', '197': 'Modern Western philosophy Soviet Union', '198': 'Modern Western philosophy Scandinavia', '199': 'Modern Western philosophy Other geographical areas', '200': 'Religion', '201': 'Philosophy of Christianity', '202': 'Miscellany of Christianity', '203': 'Dictionaries of Christianity', '204': 'Special topics', '205': 'Serial publications of Christianity', '206': 'Organizations of Christianity', '207': 'Education, research in Christianity', '208': 'Kinds of persons in Christianity', '209': 'History & geography of Christianity', '210': 'Natural theology', '211': 'Concepts of God', '212': 'Existence, attributes of God', '213': 'Creation', '214': 'Theodicy', '215': 'Science & religion', '216': 'Good & evil', '217': 'Not assigned or no longer used', '218': 'Humankind', '219': 'Not assigned or no longer used', '220': 'Bible', '221': 'Old Testament', '222': 'Historical books of Old Testament', '223': 'Poetic books of Old Testament', '224': 'Prophetic books of Old Testament', '225': 'New Testament', '226': 'Gospels & Acts', '227': 'Epistles', '228': 'Revelation (Apocalypse)', '229': 'Apocrypha & pseudepigrapha', '230': 'Christian theology', '231': 'God', '232': 'Jesus Christ & his family', '233': 'Humankind', '234': 'Salvation (Soteriology) & grace', '235': 'Spiritual beings', '236': 'Eschatology', '237': 'Not assigned or no longer used', '238': 'Creeds & catechisms', '239': 'Apologetics & polemics', '240': 'Christian moral & devotional theology', '241': 'Moral theology', '242': 'Devotional literature', '243': 'Evangelistic writings for individuals', '244': 'Not assigned or no longer used', '245': 'Texts of hymns', '246': 'Use of art in Christianity', '247': 'Church furnishings & articles', '248': 'Christian experience, practice, life', '249': 'Christian observances in family life', '250': 'Christian orders & local church', '251': 'Preaching (Homiletics)', '252': 'Texts of sermons', '253': 'Pastoral office (Pastoral theology)', '254': 'Parish government & administration', '255': 'Religious congregations & orders', '256': 'Not assigned or no longer used', '257': 'Not assigned or no longer used', '258': 'Not assigned or no longer used', '259': 'Activities of the local church', '260': 'Christian social theology', '261': 'Social theology', '262': 'Ecclesiology', '263': 'Times, places of religious observance', '264': 'Public worship', '265': 'Sacraments, other rites & acts', '266': 'Missions', '267': 'Associations for religious work', '268': 'Religious education', '269': 'Spiritual renewal', '270': 'Christian church history', '271': 'Religious orders in church history', '272': 'Persecutions in church history', '273': 'Heresies in church history', '274': 'Christian church in Europe', '275': 'Christian church in Asia', '276': 'Christian church in Africa', '277': 'Christian church in North America', '278': 'Christian church in South America', '279': 'Christian church in other areas', '280': 'Christian denominations & sects', '281': 'Early church & Eastern churches', '282': 'Roman Catholic Church', '283': 'Anglican churches', '284': 'Protestants of Continental origin', '285': 'Presbyterian, Reformed, Congregational', '286': 'Baptist, Disciples of Christ, Adventist', '287': 'Methodist & related churches', '288': 'Not assigned or no longer used', '289': 'Other denominations & sects', '290': 'Other & comparative religions', '291': 'Comparative religion', '292': 'Classical (Greek & Roman) religion', '293': 'Germanic religion', '294': 'Religions of Indic origin', '295': 'Zoroastrianism (Mazdaism, Parseeism)', '296': 'Judaism', '297': 'Islam & religions originating in it', '298': 'Not assigned or no longer used', '299': 'Other religions', '300': 'Social sciences', '301': 'Sociology & anthropology', '302': 'Social interaction', '303': 'Social processes', '304': 'Factors affecting social behavior', '305': 'Social groups', '306': 'Culture & institutions', '307': 'Communities', '308': 'Not assigned or no longer used', '309': 'Not assigned or no longer used', '310': 'General statistics', '311': 'Not assigned or no longer used', '312': 'Not assigned or no longer used', '313': 'Not assigned or no longer used', '314': 'General statistics Of Europe', '315': 'General statistics Of Asia', '316': 'General statistics Of Africa', '317': 'General statistics Of North America', '318': 'General statistics Of South America', '319': 'General statistics Of other parts of the world', '320': 'Political science', '321': 'Systems of governments & states', '322': 'Relation of state to organized groups', '323': 'Civil & political rights', '324': 'The political process', '325': 'International migration & colonization', '326': 'Slavery & emancipation', '327': 'International relations', '328': 'The legislative process', '329': 'Not assigned or no longer used', '330': 'Economics', '331': 'Labor economics', '332': 'Financial economics', '333': 'Land economics', '334': 'Cooperatives', '335': 'Socialism & related systems', '336': 'Public finance', '337': 'International economics', '338': 'Production', '339': 'Macroeconomics & related topics', '340': 'Law', '341': 'International law', '342': 'Constitutional & administrative law', '343': 'Military, tax, trade, industrial law', '344': 'Social, labor, welfare, & related law', '345': 'Criminal law', '346': 'Private law', '347': 'Civil procedure & courts', '348': 'Law (Statutes), regulations, cases', '349': 'Law of specific jurisdictions & areas', '350': 'Public administration', '351': 'Of central governments', '352': 'Of local governments', '353': 'of U.S. federal & state governments', '354': 'Of specific central governments', '355': 'Military science', '356': 'Foot forces & warfare', '357': 'Mounted forces & warfare', '358': 'Other specialized forces & services', '359': 'Sea (Naval) forces & warfare', '360': 'Social services; association', '361': 'General social problems & services', '362': 'Social welfare problems & services', '363': 'Other social problems & services', '364': 'Criminology', '365': 'Penal & related institutions', '366': 'Association', '367': 'General clubs', '368': 'Insurance', '369': 'Miscellaneous kinds of associations', '370': 'Education', '371': 'School management; special education', '372': 'Elementary education', '373': 'Secondary education', '374': 'Adult education', '375': 'Curriculums', '376': 'Education of women', '377': 'Schools & religion', '378': 'Higher education', '379': 'Government regulation, control, support', '380': 'Commerce, communications, transport', '381': 'Internal commerce (Domestic trade)', '382': 'International commerce (Foreign trade)', '383': 'Postal communication', '384': 'Communications Telecommunication', '385': 'Railroad transportation', '386': 'Inland waterway & ferry transportation', '387': 'Water, air, space transportation', '388': 'Transportation Ground transportation', '389': 'Metrology & standardization', '390': 'Customs, etiquette, folklore', '391': 'Costume & personal appearance', '392': 'Customs of life cycle & domestic life', '393': 'Death customs', '394': 'General customs', '395': 'Etiquette (Manners)', '396': 'Not assigned or no longer used', '397': 'Not assigned or no longer used', '398': 'Folklore', '399': 'Customs of war & diplomacy', '400': 'Language', '401': 'Philosophy & theory', '402': 'Miscellany', '403': 'Dictionaries & encyclopedias', '404': 'Special topics', '405': 'Serial publications', '406': 'Organizations & management', '407': 'Education, research, related topics', '408': 'With respect to kinds of persons', '409': 'Geographical & persons treatment', '410': 'Linguistics', '411': 'Writing systems', '412': 'Etymology', '413': 'Dictionaries', '414': 'Phonology', '415': 'Structural systems (Grammar)', '416': 'Not assigned or no longer used', '417': 'Dialectology & historical linguistics', '418': 'Standard usage Applied linguistics', '419': 'Verbal language not spoken or written', '420': 'English & Old English', '421': 'English writing system & phonology', '422': 'English etymology', '423': 'English dictionaries', '424': 'Not assigned or no longer used', '425': 'English grammar', '426': 'Not assigned or no longer used', '427': 'English language variations', '428': 'Standard English usage', '429': 'Old English (Anglo-Saxon)', '430': 'Germanic languages German', '431': 'German writing system & phonology', '432': 'German etymology', '433': 'German dictionaries', '434': 'Not assigned or no longer used', '435': 'German grammar', '436': 'Not assigned or no longer used', '437': 'German language variations', '438': 'Standard German usage', '439': 'Other Germanic languages', '440': 'Romance languages French', '441': 'French writing system & phonology', '442': 'French etymology', '443': 'French dictionaries', '444': 'Not assigned or no longer used', '445': 'French grammar', '446': 'Not assigned or no longer used', '447': 'French language variations', '448': 'Standard French usage', '449': 'Provencal & Catalan', '450': 'Italian, Romanian, Rhaeto-Romantic', '451': 'Italian writing system & phonology', '452': 'Italian etymology', '453': 'Italian dictionaries', '454': 'Not assigned or no longer used', '455': 'Italian grammar', '456': 'Not assigned or no longer used', '457': 'Italian language variations', '458': 'Standard Italian usage', '459': 'Romanian & Rhaeto-Romanic', '460': 'Spanish & Portugese languages', '461': 'Spanish writing system & phonology', '462': 'Spanish etymology', '463': 'Spanish dictionaries', '464': 'Not assigned or no longer used', '465': 'Spanish grammar', '466': 'Not assigned or no longer used', '467': 'Spanish language variations', '468': 'Standard Spanish usage', '469': 'Portuguese', '470': 'Italic Latin', '471': 'Classical Latin writing & phonology', '472': 'Classical Latin etymology & phonology', '473': 'Classical Latin dictionaries', '474': 'Not assigned or no longer used', '475': 'Classical Latin grammar', '476': 'Not assigned or no longer used', '477': 'Old, Postclassical, Vulgar Latin', '478': 'Classical Latin usage', '479': 'Other Italic languages', '480': 'Hellenic languages Classical Greek', '481': 'Classical Greek writing & phonology', '482': 'Classical Greek etymology', '483': 'Classical Greek dictionaries', '484': 'Not assigned or no longer used', '485': 'Classical Greek grammar', '486': 'Not assigned or no longer used', '487': 'Preclassical & postclassical Greek', '488': 'Classical Greek usage', '489': 'Other Hellenic languages', '490': 'Other languages', '491': 'East Indo-European & Celtic languages', '492': 'Afro-Asiatic languages Semitic', '493': 'Non-Semitic Afro-Asiatic languages', '494': 'Ural-Altaic, Paleosiberian, Dravidian', '495': 'Languages of East & Southeast Asia', '496': 'African languages', '497': 'North American native languages', '498': 'South American native languages', '499': 'Miscellaneous languages', '500': 'Natural sciences & mathematics', '501': 'Philosophy & theory', '502': 'Miscellany', '503': 'Dictionaries & encyclopedias', '504': 'Not assigned or no longer used', '505': 'Serial publications', '506': 'Organizations & management', '507': 'Education, research, related topics', '508': 'Natural history', '509': 'Historical, areas, persons treatment', '510': 'Mathematics', '511': 'General principles', '512': 'Algebra & number theory', '513': 'Arithmetic', '514': 'Topology', '515': 'Analysis', '516': 'Geometry', '517': 'Not assigned or no longer used', '518': 'Not assigned or no longer used', '519': 'Probabilities & applied mathematics', '520': 'Astronomy & allied sciences', '521': 'Celestial mechanics', '522': 'Techniques, equipment, materials', '523': 'Specific celestial bodies & phenomena', '524': 'Not assigned or no longer used', '525'



---

###Read the .CSV into a Dataframe then Create a Dictionary    

Use of pandas' built-in function `read_csv()` with a few parameters to specify the `.csv` file format. After calling pandas `read_csv()`, convert the result to a dictionary using the built-in pandas function `to_dict()`.


* `header` parameter specifies that the headers are explicitly passed or declared by another parameter.    
* `index_col` specifies which column is used as the labels for the DataFrame object that the `read_csv()` function returns. In this case, the first column of index 0 is the key.    
* `squeeze` parameter defines if the data contains only one column for values. In this case, there is only one column since the first column is used as the index column or the labels.

In [66]:
try: 
    # Use pandas `read_csv` to read the file
    df_dewey = pd.read_csv('dewey_dictionary.csv', header=0, index_col=0, squeeze=True)
    
    # Use pandas `to_dict()` to assign dataframe index:value to dictionary
    dict_dewey = df_dewey.to_dict()
    
    print('Created `df_dewey` DataFrame and `dict_dewey` Dictionary.')
except:
    print('Error attempting to create `df_dewey` and/or `dict_dewey.')

Created `df_dewey` DataFrame and `dict_dewey` Dictionary.

Descriptive information on the `df_dewey` DataFrame (a series, with `dewey_code` as the index.)

In [67]:
df_dewey.describe

<bound method NDFrame.describe of dewey_code
0                                           Generalities
1                                              Knowledge
2                                               The book
3                                                Systems
4                       Data processing Computer science
                             ...
995    General history of other areas Melanesia New G...
996    General history of other areas Other parts of ...
997    General history of other areas Atlantic Ocean ...
998    General history of other areas Arctic islands ...
999                              Extraterrestrial worlds
Name: dewey_category, Length: 1005, dtype: object>

In [68]:
df_dewey.head()

dewey_code
0                        Generalities
1                           Knowledge
2                            The book
3                             Systems
4    Data processing Computer science
Name: dewey_category, dtype: object

Descriptive information on the `dict_dewey` Dictionary.

In [69]:
print(len(dict_dewey))

1000

In [70]:
print(dict_dewey)

{0: 'Generalities', 1: 'Knowledge', 2: 'The book', 3: 'Systems', 4: 'Data processing Computer science', 5: 'Computer programming, programs, data', 6: 'Special computer methods', 7: 'Not assigned or no longer used', 8: 'Not assigned or no longer used', 9: 'Not assigned or no longer used', 10: 'Bibliography', 11: 'Bibliographies', 12: 'Bibliographies of individuals', 13: 'Bibliographies of works by specific classes of authors', 14: 'Bibliographies of anonymous and pseudonymous works', 15: 'Bibliographies of works from specific places', 16: 'Bibliographies of works from specific subjects', 17: 'General subject catalogs', 18: 'Catalogs arranged by author & date', 19: 'Dictionary catalogs', 20: 'Library & information sciences', 21: 'Library relationships', 22: 'Administration of the physical plant', 23: 'Personnel administration', 24: 'Not assigned or no longer used', 25: 'Library operations', 26: 'Libraries for specific subjects', 27: 'General libraries', 28: 'Reading, use of other information media', 29: 'Not assigned or no longer used', 30: 'General encyclopedic works', 31: 'General encyclopedic works — American', 32: 'General encyclopedic works in English', 33: 'General encyclopedic works in other Germanic languages', 34: 'General encyclopedic works in French, Provencal, Catalan', 35: 'General encyclopedic works in Italian, Romanian, Rhaeto-Romanic', 36: 'General encyclopedic works in Spanish & Portuguese', 37: 'General encyclopedic works in Slavic languages', 38: 'General encyclopedic works in Scandinavian languages', 39: 'General encyclopedic works in other languages', 40: 'Not assigned or no longer used', 41: 'Not assigned or no longer used', 42: 'Not assigned or no longer used', 43: 'Not assigned or no longer used', 44: 'Not assigned or no longer used', 45: 'Not assigned or no longer used', 46: 'Not assigned or no longer used', 47: 'Not assigned or no longer used', 48: 'Not assigned or no longer used', 49: 'Not assigned or no longer used', 50: 'General serials & their indexes', 51: 'General serials & their indexes American', 52: 'General serials & their indexes In English', 53: 'General serials & their indexes In other Germanic languages', 54: 'General serials & their indexes In French, Provencal, Catalan', 55: 'General serials & their indexes In Italian, Romanian, Rhaeto-Romanic', 56: 'General serials & their indexes In Spanish & Portuguese', 57: 'General serials & their indexes In Slavic languages', 58: 'General serials & their indexes In Scandinavian languages', 59: 'General serials & their indexes In other languages', 60: 'General organization & museology', 61: 'General organization & museology In North America', 62: 'General organization & museology In British Isles In England', 63: 'General organization & museology In central Europe In Germany', 64: 'General organization & museology In France & Monaco', 65: 'General organization & museology In Italy & adjacent territories', 66: 'General organization & museology In Iberian Peninsula & adjacent islands', 67: 'General organization & museology In eastern Europe In Soviet Union', 68: 'General organization & museology In other areas', 69: 'Museology (Museum science)', 70: 'News media, journalism, publishing', 71: 'News media, journalism, publishing In North America', 72: 'News media, journalism, publishing In British Isles In England', 73: 'News media, journalism, publishing In central Europe In Germany', 74: 'News media, journalism, publishing In France & Monaco', 75: 'News media, journalism, publishing In Italy & adjacent territories', 76: 'News media, journalism, publishing In Iberian Peninsula & adjacent islands', 77: 'News media, journalism, publishing In eastern Europe In Soviet Union', 78: 'News media, journalism, publishing In Scandinavia', 79: 'News media, journalism, publishing In other languages', 80: 'General collections', 81: 'General collections American', 82: 'General collections In English', 83: 'General collections In other Germanic languages', 84: 'General collections In French, Provencal, Catalan', 85: 'General collections In Italian, Romanian, Rhaeto-Romanic', 86: 'General collections In Spanish & Portuguese', 87: 'General collections In Slavic languages', 88: 'General collections In Scandinavian languages', 89: 'General collections In other languages', 90: 'Manuscripts & rare books', 91: 'Manuscripts', 92: 'Block books', 93: 'Incunabula', 94: 'Printed books', 95: 'Books notable for bindings', 96: 'Books notable for illustrations', 97: 'Books notable for ownership or origin', 98: 'Prohibited works, forgeries, hoaxes', 99: 'Books notable for format', 100: 'Philosophy & psychology', 101: 'Theory of philosophy', 102: 'Miscellany of philosophy', 103: 'Dictionaries of philosophy', 104: 'Not assigned or no longer used', 105: 'Serial publications of philosophy', 106: 'Organizations of philosophy', 107: 'Education, research in philosophy', 108: 'Kinds of persons in philosophy', 109: 'Historical treatment of philosophy', 110: 'Metaphysics', 111: 'Ontology', 112: 'Not assigned or no longer used', 113: 'Cosmology (Philosophy of nature)', 114: 'Space', 115: 'Time', 116: 'Change', 117: 'Structure', 118: 'Force & Energy', 119: 'Number & quantity', 120: 'Epistemology, causation, humankind', 121: 'Epistemology (Theory of knowledge)', 122: 'Causation', 123: 'Determinism & indeterminism', 124: 'Teleology', 125: 'Not assigned or no longer used', 126: 'The self', 127: 'The unconscious & the subconscious', 128: 'Humankind', 129: 'Origin & destiny of individual souls', 130: 'Paranormal phenomena', 131: 'Occult methods for achieving well-being', 132: 'Not assigned or no longer used', 133: 'Parapsychology & occultism', 134: 'Not assigned or no longer used', 135: 'Dreams & mysteries', 136: 'Not assigned or no longer used', 137: 'Divinatory graphology', 138: 'Physiognomy', 139: 'Phrenology', 140: 'Specific philosophical schools', 141: 'Idealism & related systems', 142: 'Critical philosophy', 143: 'Intuitionism & Bergsonism', 144: 'Humanism & related systems', 145: 'Sensationalism', 146: 'Naturalism & related systems', 147: 'Pantheism & related systems', 148: 'Liberalism, eclecticism, traditionalism', 149: 'Other philosophical systems', 150: 'Psychology', 151: 'Not assigned or no longer used', 152: 'Perception, movement, emotions, drives', 153: 'Mental processes & intelligence', 154: 'Subconscious & altered states', 155: 'Differential & developmental psychology', 156: 'Comparative psychology', 157: 'Not assigned or no longer used', 158: 'Applied psychology', 159: 'Not assigned or no longer used', 160: 'Logic', 161: 'Induction', 162: 'Deduction', 163: 'Not assigned or no longer used', 164: 'Not assigned or no longer used', 165: 'Fallacies & sources of error', 166: 'Syllogisms', 167: 'Hypotheses', 168: 'Argument & persuasion', 169: 'Analogy', 170: 'Ethics (Moral philosophy)', 171: 'Systems & doctrines', 172: 'Political ethics', 173: 'Ethics of family relationships', 174: 'Economic & professional ethics', 175: 'Ethics of recreation & leisure', 176: 'Ethics of sex & reproduction', 177: 'Ethics of social relations', 178: 'Ethics of consumption', 179: 'Other ethical norms', 180: 'Ancient, medieval, Oriental philosophy', 181: 'Oriental philosophy', 182: 'Pre-Socratic Greek philosophies', 183: 'Sophistic & Socratic philosophies', 184: 'Platonic philosophy', 185: 'Aristotelian philosophy', 186: 'Skeptic and Neoplatonic philosophies', 187: 'Epicurean philosophy', 188: 'Stoic philosophy', 189: 'Medieval Western philosophy', 190: 'Modern Western philosophy', 191: 'Modern Western philosophy United States & Canada', 192: 'Modern Western philosophy British Isles', 193: 'Modern Western philosophy Germany & Austria', 194: 'Modern Western philosophy France', 195: 'Modern Western philosophy Italy', 196: 'Modern Western philosophy Spain & Portugal', 197: 'Modern Western philosophy Soviet Union', 198: 'Modern Western philosophy Scandinavia', 199: 'Modern Western philosophy Other geographical areas', 200: 'Religion', 201: 'Philosophy of Christianity', 202: 'Miscellany of Christianity', 203: 'Dictionaries of Christianity', 204: 'Special topics', 205: 'Serial publications of Christianity', 206: 'Organizations of Christianity', 207: 'Education, research in Christianity', 208: 'Kinds of persons in Christianity', 209: 'History & geography of Christianity', 210: 'Natural theology', 211: 'Concepts of God', 212: 'Existence, attributes of God', 213: 'Creation', 214: 'Theodicy', 215: 'Science & religion', 216: 'Good & evil', 217: 'Not assigned or no longer used', 218: 'Humankind', 219: 'Not assigned or no longer used', 220: 'Bible', 221: 'Old Testament', 222: 'Historical books of Old Testament', 223: 'Poetic books of Old Testament', 224: 'Prophetic books of Old Testament', 225: 'New Testament', 226: 'Gospels & Acts', 227: 'Epistles', 228: 'Revelation (Apocalypse)', 229: 'Apocrypha & pseudepigrapha', 230: 'Christian theology', 231: 'God', 232: 'Jesus Christ & his family', 233: 'Humankind', 234: 'Salvation (Soteriology) & grace', 235: 'Spiritual beings', 236: 'Eschatology', 237: 'Not assigned or no longer used', 238: 'Creeds & catechisms', 239: 'Apologetics & polemics', 240: 'Christian moral & devotional theology', 241: 'Moral theology', 242: 'Devotional literature', 243: 'Evangelistic writings for individuals', 244: 'Not assigned or no longer used', 245: 'Texts of hymns', 246: 'Use of art in Christianity', 247: 'Church furnishings & articles', 248: 'Christian experience, practice, life', 249: 'Christian observances in family life', 250: 'Christian orders & local church', 251: 'Preaching (Homiletics)', 252: 'Texts of sermons', 253: 'Pastoral office (Pastoral theology)', 254: 'Parish government & administration', 255: 'Religious congregations & orders', 256: 'Not assigned or no longer used', 257: 'Not assigned or no longer used', 258: 'Not assigned or no longer used', 259: 'Activities of the local church', 260: 'Christian social theology', 261: 'Social theology', 262: 'Ecclesiology', 263: 'Times, places of religious observance', 264: 'Public worship', 265: 'Sacraments, other rites & acts', 266: 'Missions', 267: 'Associations for religious work', 268: 'Religious education', 269: 'Spiritual renewal', 270: 'Christian church history', 271: 'Religious orders in church history', 272: 'Persecutions in church history', 273: 'Heresies in church history', 274: 'Christian church in Europe', 275: 'Christian church in Asia', 276: 'Christian church in Africa', 277: 'Christian church in North America', 278: 'Christian church in South America', 279: 'Christian church in other areas', 280: 'Christian denominations & sects', 281: 'Early church & Eastern churches', 282: 'Roman Catholic Church', 283: 'Anglican churches', 284: 'Protestants of Continental origin', 285: 'Presbyterian, Reformed, Congregational', 286: 'Baptist, Disciples of Christ, Adventist', 287: 'Methodist & related churches', 288: 'Not assigned or no longer used', 289: 'Other denominations & sects', 290: 'Other & comparative religions', 291: 'Comparative religion', 292: 'Classical (Greek & Roman) religion', 293: 'Germanic religion', 294: 'Religions of Indic origin', 295: 'Zoroastrianism (Mazdaism, Parseeism)', 296: 'Judaism', 297: 'Islam & religions originating in it', 298: 'Not assigned or no longer used', 299: 'Other religions', 300: 'Social sciences', 301: 'Sociology & anthropology', 302: 'Social interaction', 303: 'Social processes', 304: 'Factors affecting social behavior', 305: 'Social groups', 306: 'Culture & institutions', 307: 'Communities', 308: 'Not assigned or no longer used', 309: 'Not assigned or no longer used', 310: 'General statistics', 311: 'Not assigned or no longer used', 312: 'Not assigned or no longer used', 313: 'Not assigned or no longer used', 314: 'General statistics Of Europe', 315: 'General statistics Of Asia', 316: 'General statistics Of Africa', 317: 'General statistics Of North America', 318: 'General statistics Of South America', 319: 'General statistics Of other parts of the world', 320: 'Political science', 321: 'Systems of governments & states', 322: 'Relation of state to organized groups', 323: 'Civil & political rights', 324: 'The political process', 325: 'International migration & colonization', 326: 'Slavery & emancipation', 327: 'International relations', 328: 'The legislative process', 329: 'Not assigned or no longer used', 330: 'Economics', 331: 'Labor economics', 332: 'Financial economics', 333: 'Land economics', 334: 'Cooperatives', 335: 'Socialism & related systems', 336: 'Public finance', 337: 'International economics', 338: 'Production', 339: 'Macroeconomics & related topics', 340: 'Law', 341: 'International law', 342: 'Constitutional & administrative law', 343: 'Military, tax, trade, industrial law', 344: 'Social, labor, welfare, & related law', 345: 'Criminal law', 346: 'Private law', 347: 'Civil procedure & courts', 348: 'Law (Statutes), regulations, cases', 349: 'Law of specific jurisdictions & areas', 350: 'Public administration', 351: 'Of central governments', 352: 'Of local governments', 353: 'of U.S. federal & state governments', 354: 'Of specific central governments', 355: 'Military science', 356: 'Foot forces & warfare', 357: 'Mounted forces & warfare', 358: 'Other specialized forces & services', 359: 'Sea (Naval) forces & warfare', 360: 'Social services; association', 361: 'General social problems & services', 362: 'Social welfare problems & services', 363: 'Other social problems & services', 364: 'Criminology', 365: 'Penal & related institutions', 366: 'Association', 367: 'General clubs', 368: 'Insurance', 369: 'Miscellaneous kinds of associations', 370: 'Education', 371: 'School management; special education', 372: 'Elementary education', 373: 'Secondary education', 374: 'Adult education', 375: 'Curriculums', 376: 'Education of women', 377: 'Schools & religion', 378: 'Higher education', 379: 'Government regulation, control, support', 380: 'Commerce, communications, transport', 381: 'Internal commerce (Domestic trade)', 382: 'International commerce (Foreign trade)', 383: 'Postal communication', 384: 'Communications Telecommunication', 385: 'Railroad transportation', 386: 'Inland waterway & ferry transportation', 387: 'Water, air, space transportation', 388: 'Transportation Ground transportation', 389: 'Metrology & standardization', 390: 'Customs, etiquette, folklore', 391: 'Costume & personal appearance', 392: 'Customs of life cycle & domestic life', 393: 'Death customs', 394: 'General customs', 395: 'Etiquette (Manners)', 396: 'Not assigned or no longer used', 397: 'Not assigned or no longer used', 398: 'Folklore', 399: 'Customs of war & diplomacy', 400: 'Language', 401: 'Philosophy & theory', 402: 'Miscellany', 403: 'Dictionaries & encyclopedias', 404: 'Special topics', 405: 'Serial publications', 406: 'Organizations & management', 407: 'Education, research, related topics', 408: 'With respect to kinds of persons', 409: 'Geographical & persons treatment', 410: 'Linguistics', 411: 'Writing systems', 412: 'Etymology', 413: 'Dictionaries', 414: 'Phonology', 415: 'Structural systems (Grammar)', 416: 'Not assigned or no longer used', 417: 'Dialectology & historical linguistics', 418: 'Standard usage Applied linguistics', 419: 'Verbal language not spoken or written', 420: 'English & Old English', 421: 'English writing system & phonology', 422: 'English etymology', 423: 'English dictionaries', 424: 'Not assigned or no longer used', 425: 'English grammar', 426: 'Not assigned or no longer used', 427: 'English language variations', 428: 'Standard English usage', 429: 'Old English (Anglo-Saxon)', 430: 'Germanic languages German', 431: 'German writing system & phonology', 432: 'German etymology', 433: 'German dictionaries', 434: 'Not assigned or no longer used', 435: 'German grammar', 436: 'Not assigned or no longer used', 437: 'German language variations', 438: 'Standard German usage', 439: 'Other Germanic languages', 440: 'Romance languages French', 441: 'French writing system & phonology', 442: 'French etymology', 443: 'French dictionaries', 444: 'Not assigned or no longer used', 445: 'French grammar', 446: 'Not assigned or no longer used', 447: 'French language variations', 448: 'Standard French usage', 449: 'Provencal & Catalan', 450: 'Italian, Romanian, Rhaeto-Romantic', 451: 'Italian writing system & phonology', 452: 'Italian etymology', 453: 'Italian dictionaries', 454: 'Not assigned or no longer used', 455: 'Italian grammar', 456: 'Not assigned or no longer used', 457: 'Italian language variations', 458: 'Standard Italian usage', 459: 'Romanian & Rhaeto-Romanic', 460: 'Spanish & Portugese languages', 461: 'Spanish writing system & phonology', 462: 'Spanish etymology', 463: 'Spanish dictionaries', 464: 'Not assigned or no longer used', 465: 'Spanish grammar', 466: 'Not assigned or no longer used', 467: 'Spanish language variations', 468: 'Standard Spanish usage', 469: 'Portuguese', 470: 'Italic Latin', 471: 'Classical Latin writing & phonology', 472: 'Classical Latin etymology & phonology', 473: 'Classical Latin dictionaries', 474: 'Not assigned or no longer used', 475: 'Classical Latin grammar', 476: 'Not assigned or no longer used', 477: 'Old, Postclassical, Vulgar Latin', 478: 'Classical Latin usage', 479: 'Other Italic languages', 480: 'Hellenic languages Classical Greek', 481: 'Classical Greek writing & phonology', 482: 'Classical Greek etymology', 483: 'Classical Greek dictionaries', 484: 'Not assigned or no longer used', 485: 'Classical Greek grammar', 486: 'Not assigned or no longer used', 487: 'Preclassical & postclassical Greek', 488: 'Classical Greek usage', 489: 'Other Hellenic languages', 490: 'Other languages', 491: 'East Indo-European & Celtic languages', 492: 'Afro-Asiatic languages Semitic', 493: 'Non-Semitic Afro-Asiatic languages', 494: 'Ural-Altaic, Paleosiberian, Dravidian', 495: 'Languages of East & Southeast Asia', 496: 'African languages', 497: 'North American native languages', 498: 'South American native languages', 499: 'Miscellaneous languages', 500: 'Natural sciences & mathematics', 501: 'Philosophy & theory', 502: 'Miscellany', 503: 'Dictionaries & encyclopedias', 504: 'Not assigned or no longer used', 505: 'Serial publications', 506: 'Organizations & management', 507: 'Education, research, related topics', 508: 'Natural history', 509: 'Historical, areas, persons treatment', 510: 'Mathematics', 511: 'General principles', 512: 'Algebra & number theory', 513: 'Arithmetic', 514: 'Topology', 515: 'Analysis', 516: 'Geometry', 517: 'Not assigned or no longer used', 518: 'Not assigned or no longer used', 519: 'Probabilities & applied mathematics', 520: 'Astronomy & allied sciences', 521: 'Celestial mechanics', 522: 'Techniques, equipment, materials', 523: 'Specific celestial bodies & phenomena', 524: 'Not assigned or no longer used', 525: 'Earth (Astronomical geography)', 526: 'Mathematical geography', 527: 'Celestial navigation', 528: 'Ephemerides', 529: 'Chronology', 530: 'Physics', 531: 'Classical mechanics Solid mechanics', 532: 'Fluid mechanics Liquid mechanics', 533: 'Gas mechanics', 534: 'Sound & related vibrations', 535: 'Light & paraphotic phenomena', 536: 'Heat', 537: 'Electricity & electronics', 538: 'Magnetism', 539: 'Modern physics', 540: 'Chemistry & allied sciences', 541: 'Physical & theoretical chemistry', 542: 'Techniques, equipment, materials', 543: 'Analytical chemistry', 544: 'Qualitative analysis', 545: 'Quantitative analysis', 546: 'Inorganic chemistry', 547: 'Organic chemistry', 548: 'Crystallography', 549: 'Mineralogy', 550: 'Earth sciences', 551: 'Geology, hydrology, meteorology', 552: 'Petrology', 553: 'Economic geology', 554: 'Earth sciences of Europe', 555: 'Earth sciences of Asia', 556: 'Earth sciences of Africa', 557: 'Earth sciences of North America', 558: 'Earth sciences of South America', 559: 'Earth sciences of other areas', 560: 'Paleontology Paleozoology', 561: 'Paleobotany', 562: 'Fossil invertebrates', 563: 'Fossil primitive phyla', 564: '



---

###**<u>Exercise</u>**    

Add your code below to take a DataFrame with Dewey Decimal System `dewey_code` and `dewey_category` columns and transform the DataFrame to include a hierarchical structure of the following columns, derived from the `dewey_code` column:    
* **dewey_level1** - based on the **first** character in `dewey_code`    
* **dewey_level2** - based on the **second** character in `dewey_code`    
* **dewey_level3** - based on the **third** character in `dewey_code`

*Note:*    

*Refer to the first section of this notebook or the Colab notebook on [**Hierarchical Indexing**](https://bit.ly/hierarchical_indexing) for reference/refresher information.*

In [ ]:
### YOUR CODE HERE ###
### add snippets below, if you like ###