<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_NoElectricity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CST3512 Population with No Access to Electricity     

**from OWID (Our World in Data) study of indoor air pollution**

##Housekeeping

###Import Libraries

In [2]:
import pandas as pd             # to work with dataframes 
import numpy as np              # just in case 

# %matplotlib inline              # is this needed?
import matplotlib                 # for plotting    
import matplotlib.pyplot as plt   # ditto

import plotly.express as px       # plotly express plots

import datetime                   # to create datetime objects

###Datetime Token Strings    

Create format token strings to use converting `Year` (YYYY) and `Year_Month` (YYYY-Mmm) into datetimes


assign `"%Y-$B"` to `yyyymmm_token_str`    

*This will be used when reading string content of a four-digit year, hyphen, and three-character month abbreviation into a `datetime` object.*

In [ ]:
yyyymmm_token_str = '%Y-%b'  # to read a date string in the format 'YYYY-Mmm'


assign `"%Y"` to `yyyy_token_str`    

*This will be used when reading string content of a four-digit year into a `datetime` object.*

In [ ]:
yyyy_token_str = '%Y'        # to read a date string in the format 'YYYY'



---

##Load the Source Files    

* Census data of population    
* Annual data of share of population with access to electicity

In [1]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/population-by-country.csv -o "population-by-country.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 84019  100 84019    0     0   408k      0 --:--:-- --:--:-- --:--:--  408k

In [12]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/share-of-the-population-with-access-to-electricity.csv -o "share-access-electricity.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  199k  100  199k    0     0  1096k      0 --:--:-- --:--:-- --:--:-- 1090k

##Read Data    

Load the data files to each of the respective dataframes:    

1. **census_df** : population by country (once/decade)    
2. **electricity_df** : annual access to electricity by country

####Extract, translate, and load the census data

In [7]:
# read the raw data file into a dataframe `census_df` using the files column headings
census_df = pd.read_csv('population-by-country.csv')

In [8]:
# swap in a list of clearer column names 
census_df.columns = ['Country', 'ISO', 'Year', 'Population']

In [26]:
# transformation: store `Year` as a string
census_df['Year'] = electricity_df['Year'].astype('string')

In [27]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3221 non-null   object
 1   ISO         3130 non-null   object
 2   Year        3221 non-null   string
 3   Population  3221 non-null   float64
dtypes: float64(1), object(2), string(1)
memory usage: 100.8+ KB

In [ ]:
# have a look at the dataframe 
census_df.tail(20)

####Extract, translate, and load the access to electricity data

In [13]:
# read the raw data file into a dataframe `electicity_df` using the files column headings
electricity_df = pd.read_csv('share-access-electricity.csv')

In [16]:
# swap in a list of clearer column names 
electricity_df.columns = ['Country', 'ISO', 'Year', 'ShareAccessElectric']

In [25]:
# transformation: store `Year` as a string
electricity_df['Year'] = electricity_df['Year'].astype('string')

In [18]:
# transformation: calculate percentage of population with no access to electricity 
electricity_df['PctNoElectric'] = (100 - electricity_df['ShareAccessElectric'])/100

In [28]:
electricity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6582 entries, 0 to 6581
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              6582 non-null   object
 1   ISO                  5469 non-null   object
 2   Year                 6582 non-null   string
 3   ShareAccessElectric  6582 non-null   float64
 4   PctNoElectric        6582 non-null   float64
dtypes: float64(2), object(2), string(1)
memory usage: 257.2+ KB

In [19]:
# have a look at the dataframe 
electricity_df.tail(20)

       Country  ISO  Year  ShareAccessElectric  PctNoElectric
6562  Zimbabwe  ZWE  2000            33.850704       0.661493
6563  Zimbabwe  ZWE  2001            34.214050       0.657859
6564  Zimbabwe  ZWE  2002            34.200000       0.658000
6565  Zimbabwe  ZWE  2003            34.914707       0.650853
6566  Zimbabwe  ZWE  2004            35.249660       0.647503
6567  Zimbabwe  ZWE  2005            35.572952       0.644270
6568  Zimbabwe  ZWE  2006            37.200000       0.628000
6569  Zimbabwe  ZWE  2007            36.198219       0.638018
6570  Zimbabwe  ZWE  2008            36.512512       0.634875
6571  Zimbabwe  ZWE  2009            43.369082       0.566309
6572  Zimbabwe  ZWE  2010            40.458183       0.595418
6573  Zimbabwe  ZWE  2011            36.900000       0.631000
6574  Zimbabwe  ZWE  2012            44.000000       0.560000
6575  Zimbabwe  ZWE  2013            38.336353       0.616636
6576  Zimbabwe  ZWE  2014            32.300000       0.677000
6577  Zimbabwe  ZWE  2015            33.700000       0.663000
6578  Zimbabwe  ZWE  2016            39.676228       0.603238
6579  Zimbabwe  ZWE  2017            40.144283       0.598557
6580  Zimbabwe  ZWE  2018            40.616360       0.593836
6581  Zimbabwe  ZWE  2019            41.089108       0.589109