<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_Shaolong_Employment_Unemployment_12_May_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Employment and Unemployment Levels 

*from the original work of CST3512 student Shaolong Lin, May-2022*

**The following outline describes the approach in this notebook:**    

1. Housekeeping    
2. Load Data for Emplyoyment Level
3. Transform Employment Level Data    
4. Load Data for UnEmployment Level    
5. Transform UnEmployment Level Data    
6. Integrate Employment and UnEmployment Level Data   
* APPENDIX: DateTime Reference Information



---

##1. Housekeeping    

* Import libraries    

* Create standing value variables (dictionary of month abbreviations to month integers)

In [51]:
import pandas as pd    

import datetime

###Create a dictionary of month abbreviations (from column names) to integers
assign `{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}` to `month_dict`

In [57]:
###Create a dictionary of month abbreviations (from column names) to integers
month_dict = {'Jan': 1, 'Feb': 2, 'Mar': 3,
              'Apr': 4, 'May': 5, 'Jun': 6, 
              'Jul': 7, 'Aug': 8, 'Sep': 9, 
              'Oct': 10, 'Nov': 11, 'Dec': 12
              }

###Create a string of datetime format tokens for creation of `datetime` objects    

assign `"%Y-$B"` to format_token_str

In [66]:
format_token_str = '%Y-%b'



---

##2. Load Data for Employment Level

The following snippet is Shaolong Lin's original code.

In [ ]:
# original code which is now deprecated 
# Employment_Level = pd.read_csv('/content/drive/MyDrive/CST 3512: Data management 2/Project Data Base/Using/Employment Level - BLS Data Series.csv', skiprows = 11)
## Employment_Level = pd.read_csv(File2, skiprows = 11)
# Employment_Level.drop(Employment_Level[Employment_Level.Year == 2022].index, inplace=True)

or,

In [3]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/Employment%20Level%20-%20BLS%20Data%20Series.csv -o "bls_employment-level.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1392  100  1392    0     0   3596      0 --:--:-- --:--:-- --:--:--  3587

In [ ]:
el_df = pd.read_csv('/content/bls_employment-level.csv', skiprows = 11)
el_df.drop(el_df[el_df.Year == 2022].index, inplace=True)
el_df.info()

##3. Transform Employment Level Data

In [25]:
# transform integer value columns to float for consistency
el_df['Jan'] = el_df['Jan'].astype('float')
el_df['Feb'] = el_df['Feb'].astype('float')
el_df['Mar'] = el_df['Mar'].astype('float')

In [ ]:
el_df.info()

In [ ]:
el_df.head(20)

Now, melt the columns into rows of data...

In [31]:
el_col_df = el_df.melt(id_vars= ['Year'])

In [32]:
el_col_df.rename(columns={'variable': 'Month', 'value': 'Employment_Level'}, inplace=True)

In [ ]:
el_col_df.info()

In [45]:
el_col_df['Period'] = el_col_df['Year'].astype('str') + '-' + el_col_df['Month']

In [58]:
el_col_df['mm'] = el_col_df['Month'].replace(month_dict)

In [67]:

el_col_df['Datetime'] = pd.to_datetime(el_col_df['Period'], format=format_token_str)
el_col_df = el_col_df.set_index(pd.DatetimeIndex(el_col_df['Datetime']))

In [ ]:
el_col_df.info()

In [ ]:
el_col_df.head(20)

In [ ]:
el_col_df.tail(20)



---

##4. Load Data for UnEmployment Data

The following snippet is Shaolong Lin's original code.

In [ ]:
# original code which is now deprecated Unemployment_Level = pd.read_csv('/content/drive/MyDrive/CST 3512: Data management 2/Project Data Base/Using/Unemployment Level - BLS Data Series.csv', skiprows = 11)
## File8['Year'] = pd.to_datetime(File8['Year'])
## Unemployment_Level = pd.read_csv(File8, skiprows = 11)
# Unemployment_Level.drop(Unemployment_Level[Unemployment_Level.Year == 2022].index, inplace=True)

or,

In [12]:
!curl https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/a91a2a868d0545307c7733251df18909bdd48d39/Unemployment%20Level%20-%20BLS%20Data%20Series.csv -o "bls_unemployment-level.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1187  100  1187    0     0  22826      0 --:--:-- --:--:-- --:--:-- 22826

In [ ]:
ul_df = pd.read_csv('/content/bls_unemployment-level.csv', skiprows = 11)
ul_df.drop(ul_df[ul_df.Year == 2022].index, inplace=True)
ul_df.info()

##5. Transform Data for UnEmployment Level

In [18]:
# transform integer value columns to float for consistency
ul_df['Jan'] = ul_df['Jan'].astype('float')
ul_df['Feb'] = ul_df['Feb'].astype('float')
ul_df['Mar'] = ul_df['Mar'].astype('float')

In [ ]:
ul_df.info()

In [ ]:
ul_df.head(20)

Now, melt the columns into rows of data...

In [38]:
ul_col_df = ul_df.melt(id_vars= ['Year'])

In [47]:
ul_col_df.rename(columns={'variable': 'Month', 'value': 'Un-Employment_Level'}, inplace=True)

In [ ]:
ul_col_df.info()

In [49]:
ul_col_df['Period'] = ul_col_df['Year'].astype('str') + '-' + ul_col_df['Month']

In [60]:
ul_col_df['mm'] = ul_col_df['Month'].replace(month_dict)

In [70]:

ul_col_df['Datetime'] = pd.to_datetime(ul_col_df['Period'], format=format_token_str)
ul_col_df = ul_col_df.set_index(pd.DatetimeIndex(ul_col_df['Datetime']))

In [71]:
ul_col_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 120 entries, 2012-01-01 to 2021-12-01
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 120 non-null    int64
 1   Month                120 non-null    object
 2   Un-Employment_Level  120 non-null    float64
 3   Period               120 non-null    object
 4   mm                   120 non-null    int64
 5   Datetime             120 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 6.6+ KB

In [ ]:
ul_col_df.head(20)

In [ ]:
ul_col_df.tail(20)



---



---

##APPENDIX: Datetime    

*Quick reference on using `date`, `time`, and `datetime` objects as an index.*

These: **"%Y-%m-%d %H:%M:%S.%f"** are known as format tokens. Each token represents a different part of the date-time, like day, month, year, etc. Check out the strptime documentation for the list of all different types of format code supported in Python. For a quick reference, here is what we're using in the code above:    
    
* **%Y** : Year (4 digits)
* **%B** : Month as three alpha abbreviation (in English)
* **%m** : Month
* **%d** : Day of month
* **%H** : Hour (24 hour)
* **%M** : Minutes
* **%S** : Seconds
* **%f** : Microseconds

*All of these tokens, except the year, are expected to be zero-padded.*    

So, if the format of a string is known, it can be easily parsed to a datetime object using strptime. Here is an example:

In [52]:
# import datetime

date_time_str = 'Jun 28 2018 7:40AM'
date_time_obj = datetime.datetime.strptime(date_time_str, '%b %d %Y %I:%M%p')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2018-06-28
Time: 07:40:00
Date-time: 2018-06-28 07:40:00

Here are a few more examples of commonly used time formats and the tokens used for parsing:

```
"Jun 28 2018 at 7:40AM" -> "%b %d %Y at %I:%M%p"
"September 18, 2017, 22:19:55" -> "%B %d, %Y, %H:%M:%S"
"Sun,05/12/99,12:30PM" -> "%a,%d/%m/%y,%I:%M%p"
"Mon, 21 March, 2015" -> "%a, %d %B, %Y"
"2018-03-12T10:12:45Z" -> "%Y-%m-%dT%H:%M:%SZ"
```

Here is a more thorough listing of `DateTime` token strings.

DateTime Format Codes
One extremely important concept to understand is DateTime format codes. This is how you instruct Pandas what format your DateTime string is in. It’s magic every time you see it work. In fact, I look forward to gross strings with dates in them just to parse. See documentation.

Format Code	Description	Examples
* **%a** : 	Weekday, abbreviated	Mon, Tues, Sat    
* **%A** : 	Weekday, full name	Monday, Tuesday, Saturday    
* **%w** : 	Weekday, decimal. 0=Sunday	1, 2, 6     
* **%d** : 	Day of month, zero-padded	01, 02, 21    
* **%b** : 	Month, abbreviated	Jan, Feb, Sep    
* **%B** : 	Month, full name	January, February, September    
* **%m** : 	Month number, zero-padded	01, 02, 09    
* **%y** : 	Year, without century, zero-padded	02, 95, 99    
* **%Y** : 	Year, with century	1990, 2020    
* **%H** : 	Hour (24 hour), zero padded	01, 22    
* **%I** : 	Hour (12 hour) zero padded	01, 12    
* **%p** : 	AM or PM	AM, PM    
* **%M** : 	Minute, zero-padded	01, 02, 43    
* **%S** : 	Second, zero padded	01, 32, 59    
* **%f** : 	Microsecond, zero-padded	000001, 000342, 999999    
* **%z** : 	UTC offset ±HHMM[SS[.ffffff]]	+0000, -1030, -3423.234    
* **%Z** : 	Time zone name	ITC, EST, CST    
* **%j** : 	Day of year, zero-padded	001, 365, 023    
* **%U** : 	Week # of year, zero-padded. Sunday first day of week	00, 01, 51    
* **%W** : 	Week # of year, zero-padded. Monday first day of week	00, 02, 51    
* **%c** : 	Appropriate date and time	Monday Feb 01 21:30:00 1990    
* **%x** : 	Appropriate Date	02/01/90    
* **%X** : 	Appropriate Time	21:22:00    
* **%%** : 	Literal '%' – Use this when you have a % sign in your format.	%

You can parse a date-time string of any format using the table mentioned in the [strptime documentation](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).



---