<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST3512/blob/main/CST3512_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CST-3512 Mid-Term

Exercise notebook

In [17]:
import pandas as pd
from tabulate import tabulate
import pprint

In [7]:
!curl "https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/MinWageData.csv" -o MinWageData.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  142k  100  142k    0     0   635k      0 --:--:-- --:--:-- --:--:--  632k

In [8]:
df = pd.read_csv("MinWageData.csv")

In [9]:
df.describe()

,Year,StateMinimumWage,StateMinimumWage2020Dollars,FederalMinimumWage,FederalMinimumWage2020Dollars,EffectiveMinimumWage,EffectiveMinimumWage2020Dollars,CPIAverage
count,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000,2862.000000
mean,1994.000000,3.754499,6.441635,4.355660,7.991887,4.624333,8.360758,145.417585
std,15.299732,2.804826,3.203165,1.959252,0.895547,2.324131,1.128870,69.361536
min,1968.000000,0.000000,0.000000,1.150000,6.420000,1.150000,6.420000,34.800000
25%,1981.000000,1.600000,5.352500,3.350000,7.340000,3.350000,7.610000,90.900000
50%,1994.000000,3.350000,7.400000,4.250000,7.900000,4.250000,8.170000,148.200000
75%,2007.000000,5.150000,8.450000,5.150000,8.390000,6.550000,8.980000,207.342000
max,2020.000000,14.000000,15.610000,7.250000,10.330000,14.000000,15.610000,258.660000

In [ ]:
df.apply(pd.DataFrame.describe, axis=1)

In [31]:
yy = df.groupby(["State"]).mean()

In [32]:
yy.head(10)

                       Year   StateMinimumWage  StateMinimumWage2020Dollars  FederalMinimumWage  FederalMinimumWage2020Dollars  EffectiveMinimumWage  EffectiveMinimumWage2020Dollars  CPIAverage
State
Alabama               1994.0        0.000                  0.000                    4.356                    7.992                      4.356                      7.992                 145.418
Alaska                1994.0        5.275                  9.918                    4.356                    7.992                      5.275                      9.918                 145.418
Arizona               1994.0        2.324                  2.917                    4.356                    7.992                      4.774                      8.436                 145.418
Arkansas              1994.0        4.194                  7.139                    4.356                    7.992                      4.540                      8.187                 145.418
California            1994.0        5.175                  9.101                    4.356                    7.992                      5.191                      9.161                 145.418
Colorado              1994.0        4.253                  6.882                    4.356                    7.992                      4.769                      8.432                 145.418
Connecticut           1994.0        5.195                  9.213                    4.356                    7.992                      5.195                      9.213                 145.418
Delaware              1994.0        4.490                  7.819                    4.356                    7.992                      4.719                      8.455                 145.418
District of Columbia  1994.0        5.250                  8.919                    4.356                    7.992                      5.397                      9.295                 145.418
Florida               1994.0        2.161                  2.415                    4.356                    7.992                      4.584                      8.247                 145.418